!!!
%html
    %head
        %meta{content:'text/html'}
    %body
        %h1 Libroteca La nueva forma de negociar tus libros!
        %br
        %h3 Estimado Usuario #{@usuariodue.nombre}
        %br
        %p Los datos del solicitante de tu libro #{@libro.titulo} son: 
        %center
            %h4 #{@usuariosol.nombre}
            %h4 #{@usuariosol.email}
            %h4 #{@usuariosol.telefono}
        %br
        %p Recuerda contactarlo para que puedan concretar el envío del libro, ya que en caso de no realizar el envío puedes ser penalizado
        %br
        %p Gracias por negociar tu libro en Libroteca!