Libroteca

La nueva forma de negociar tus libros!

Estimado Usuario, <%= @usuariodue.nombre %>

Los datos del solicitante de tu libro <%= @libro.titulo %> son:  

					<%= @usuariosol.nombre %>
			        <%= @usuariosol.email %>
			        <%= @usuariosol.telefono %>
      
Recuerda contactarlo para que puedan concretar el envío del libro, ya que en caso de no realizar el envío puedes ser penalizado

Gracias por negociar tu libro en Libroteca!