Libroteca

La nueva forma de negociar tus libros!

Estimado Usuario, <%= @usuariosol.nombre %>

Los datos del responsable del libro <%= @libro.titulo %> son:  

					<%= @usuariodue.nombre %>
			        <%= @usuariodue.email %>
			        <%= @usuariodue.telefono %>
      
Recuerda contactarlo para que puedan concretar el envío del libro, notificar en el sistema que el envío se realizó exitosamente y que el libro se encontraba en las condiciones descritas

En caso de que el usuario no envíe el libro, o este no se encuentre en las condiciones descritas, puede notificarlo en el sistema y el usuario responsable será penalizado

Gracias por adquirir tu libro en Libroteca!