!!!
%html
    %head
        %meta{content:'text/html'}
    %body
        %h1 Libroteca La nueva forma de negociar tus libros!
        %br
        %h3 Estimado Usuario #{@usuariosol.nombre}
        %br
        %p Los datos del responsable del libro #{@libro.titulo} son: 
        %center
            %h4 #{@usuariodue.nombre}
            %h4 #{@usuariodue.email}
            %h4 #{@usuariodue.telefono}
        %br
        %p Recuerda contactarlo para que puedan concretar el envío del libro, notificar en el sistema que el envío se realizó exitosamente y que el libro se encontraba en las condiciones descritas
        %br
        %p En caso de que el usuario no envíe el libro, o este no se encuentre en las condiciones descritas, puede notificarlo en el sistema y el usuario responsable será penalizado
        %br
        %p Gracias por adquirir tu libro en Libroteca!