Libroteca
La nueva forma de negociar tus libros!

Estimado Usuario, <%= @usuario.nombre %>

Tiene una nueva notificación:  

						<%= @descripcion %>
      
Ingrese al sistema para que pueda enterarse de esta y nuevas noticias!