!!!
%html
  %head
    %meta{content:'text/html'}
  %body
    %h1 Libroteca La nueva forma de negociar tus libros!
    %br
    %h3 Estimado Usuario #{@usuario.nombre}
    %br
    %p Tiene una nueva notificación: #{@descripcion}
    %br
    %p Ingrese al sistema para que pueda enterarse de esta y nuevas noticias!