!!!
%html
  %head
    %meta{content:'text/html'}
  %body
    %h1 Libroteca La nueva forma de negociar tus libros!
    %br
    %h3 Estimado Usuario #{@usuario.nombre}
    %br
    %p Ha indicado que ha olvidado su contraseña para ingresar al sistema Libroteca, por lo tanto se le ha generado una nueva, la cual es: 
    %br
    %h4
      %b #{@clave}
    %br  
    %p Por favor ingrese al sistema para que inicie sesión con su nueva contraseña