Libroteca
La nueva forma de negociar tus libros!

Estimado Usuario, <%= @usuario.nombre %>

Ha indicado que ha olvidado su contraseña para ingresar al sistema Libroteca, por lo tanto se le ha generado una nueva, la cual es: 

						<%= @clave %>
      
Por favor ingrese al sistema para que inicie sesión con su nueva contraseña