%div{class: "visible #{@nombre_del_campo}#{@identificador}"}
	%b.subtitulo
		=@titulo
	%p
		=@texto_a_mostrar
		%span.editar.glyphicon.glyphicon-pencil			

%div{class: "novisible#{@nombre_del_campo}#{@identificador}", style:"display:none"}

	%b.subtitulo
		=@titulo

	=form_tag({controller: "grupo_de_lectura", action: "editar_grupo"}, id:"EditarGrupo", remote: true) do

		%input{ type:"hidden", name: "id", value: "#{@identificador}" }
		%input{ type:"hidden", name: "nombre_del_campo", value: "#{@nombre_del_campo}" }

		-if @nombre_del_campo == :fecha_fin
			%input{ id:'datepicker2',type:"text",name:"fecha_fin",class:"form-control", value:"#{@texto_a_mostrar}"}
			%br
			=submit_tag "Cambiar" ,class: "btn btn-default btn-lg btn-block"
		-else
			%input{type:"text",name:"texto_editado",class:"form-control", value:"#{@texto_a_mostrar}"}
			

:javascript
	$( ".#{@nombre_del_campo}#{@identificador}" ).click( function(){	
		$( ".#{@nombre_del_campo}#{@identificador}" ).hide( "fast" );
		$(".novisible#{@nombre_del_campo}#{@identificador}" ).show("slow");	  	
	});

