%div{class: "visible #{@nombre_del_campo}#{@identificador}"}
		 
	%b.subtitulo
		=@titulo
	%p
		=@texto_a_mostrar
		%span.editar.glyphicon.glyphicon-pencil			

%div{class: "novisible#{@nombre_del_campo}#{@identificador}", style:"display:none"}
	%b.subtitulo
		=@titulo
	=form_tag({controller: "usuarios", action: "editar_usuario"},id:"EditarUsuario",remote: true) do

		%input{ type:"hidden", name: "id", value: "#{@identificador}" }
		%input{ type:"hidden", name: "nombre_del_campo", value: "#{@nombre_del_campo}" }
		%input{ type:"hidden", name: "tipo_de_input", value:"text"}
		
		-if @nombre_del_campo == :direccion
			.form-group
				%textarea{rows:"4", cols:"50",name:"#{@nombre_del_campo}", class:"form-control"}
					= @texto_a_mostrar
			=submit_tag "Cambiar" ,class: "btn btn-default btn-lg btn-block"
		-else
			-if @nombre_del_campo == :tipo_configuracion_id
				=select_tag "#{@nombre_del_campo}", options_from_collection_for_select(@coleccion, "id", "descripcion"), class:"form-control"
				%br
				=submit_tag "Cambiar" ,class: "btn btn-default btn-lg btn-block"
			-else

				%input{type:"text", name:"#{@nombre_del_campo}",value:"#{@texto_a_mostrar}", class:"form-control"}

:javascript
	$( ".#{@nombre_del_campo}#{@identificador}" ).click( function(){	
		$( ".#{@nombre_del_campo}#{@identificador}" ).hide( "fast" );
		$(".novisible#{@nombre_del_campo}#{@identificador}" ).show("slow");	  	
	});
