-if @nombre_del_campo==:precio && @modal!='VEN'
	%div{class: "novisible#{@nombre_del_campo}#{@identificador}",style:"display:none"}
		%b.subtitulo
			=@titulo

		=form_tag({controller: "libros", action: "editar_libro"},id:"EditarPrecio",remote: true) do
			%input{ type:"hidden", name: "id", value: "#{@identificador}" }
			%input{ type:"hidden", name: "nombre_del_campo", value: "#{@nombre_del_campo}" }
			%input{type:"text", name:"#{@nombre_del_campo}",value:"#{@texto_a_mostrar}", class:"form-control"}
-else
	%div{class: "visible #{@nombre_del_campo}#{@identificador}"}
		%b.subtitulo
			=@titulo
		%p
			=@texto_a_mostrar
			%span.editar.glyphicon.glyphicon-pencil			

	%div{class: "novisible#{@nombre_del_campo}#{@identificador}", style:"display:none"}

		%b.subtitulo
			=@titulo

		=form_tag({controller: "libros", action: "editar_libro"},id:"EditarLibro",remote: true) do

			%input{ type:"hidden", name: "id", value: "#{@identificador}" }
			%input{ type:"hidden", name: "nombre_del_campo", value: "#{@nombre_del_campo}" }

			-if @nombre_del_campo == :precio
				%input{type:"text", name:"#{@nombre_del_campo}",value:"#{@texto_a_mostrar}", class:"form-control"}
			-else
				=select_tag "#{@nombre_del_campo}", options_from_collection_for_select(@coleccion, "id", "descripcion"), class:"form-control"
				%br
				=submit_tag "Cambiar" ,class: "btn btn-default btn-lg btn-block"

:javascript
	$( ".#{@nombre_del_campo}#{@identificador}" ).click( function(){	
		$( ".#{@nombre_del_campo}#{@identificador}" ).hide( "fast" );
		$(".novisible#{@nombre_del_campo}#{@identificador}" ).show("slow");	  	
	});
