-if @coleccion.count == 0
	%center
		%h4 No existen libros para esta clasificación
-@coleccion.each do |lib|
	.col-lg-3.col-sm-4.col-xs-12
		.vista
			=portada_de_libro lib.libro.titulo
			.mascara
			.contenido
				%b Título:
				=lib.libro.titulo
				%br
				-if lib.libro.categoria_id==1
					%b Grado:
					=lib.libro.grado
					%br
				%b Usuario:
				=link_to "#{lib.usuario.nombre}", {controller:"usuarios", action:"perfil", id:lib.usuario.id},class:"link"
				%br
				%b Modalidad:
				=lib.tipo_modalidad.descripcion
				%br
				%b Condición:
				=lib.tipo_condicion.descripcion
				%br
				-if lib.usuario.id != session[:id]
					=link_to "Solicitar",{controller:"libros",action:"solicitar_libro",libro_id:lib.libro.id, usuario_id:lib.usuario.id} , class:"btn btn-default"
					
				=link_to "Ver más", {controller:"libros",action:"ver_libro",id:lib.libro.id, usuario_id: lib.usuario.id}
					
