%ul
	- @coleccion.each do |noti| 
		%li
			-usuario_dueno = Usuario.find(noti.usuario_id)
			=link_to "#{usuario_dueno.nombre}",{controller:"usuarios",action:"perfil",id:usuario_dueno.id} 
			#{noti.descripcion}
			-case noti.tipo_noticia_id
				-when "AMIG"
					-usuario = Usuario.find(noti.amigo_id)
					=link_to "#{usuario.nombre}",{controller:"usuarios",action:"perfil",id:usuario.id} 
				-when "EST"
					link hacia el estado
				-when "ENT"
					= link_to "#{noti.libro.titulo}",{controller:"usuarios", action:"historial", id:noti.usuario_id}
				-when "LIB"
					=link_to "#{noti.libro.titulo}",{controller:"libros",action:"ver_libro", id:noti.libro.id, usuario_id:noti.usuario_id}
				-when "GRUP"
					=link_to "#{noti.grupo_lectura.nombre}",{controller:"grupo_de_lectura",action:"grupo",id:noti.grupo_lectura.id}
				-when "EDITL"
					=link_to "#{noti.libro.titulo}",{controller:"libros",action:"ver_libro", id:noti.libro.id, usuario_id:noti.usuario_id}
				-when "PERF"
					
			

= will_paginate @coleccion, page_links:false , class:"botones-feed-de-noticias" , previous_label: "˄", next_label: "˅"

