-case Random.rand(0...4)
	-when 0
		%p.titulo-libro-vista.morado
			=@titulo
		=image_tag "libroteca_gris.jpg" , class:"img-libro"
	-when 1
		%p.titulo-libro-vista.negro
			=@titulo
		=image_tag "libroteca_amarrillo.jpg" , class:"img-libro"
	-when 2
		%p.titulo-libro-vista.negro
			=@titulo
		=image_tag "libroteca_azul.jpg" , class:"img-libro"
	-when 3
		%p.titulo-libro-vista.negro
			=@titulo
		=image_tag "libroteca_verde.jpg" , class:"img-libro"
	-when 4
		%p.titulo-libro-vista.azul
			=@titulo
		=image_tag "libroteca_morado.jpg" , class:"img-libro"
