%ol.breadcrumb.padding-breadcrumb
	%li
		=link_to "Inicio", {controller:"escritorio",action:"inicio"}
	%li
		=link_to "Lista de deseos"
	%li.active
		=link_to "Lista"

-if @lista_deseos.size()!=0
	-@lista_deseos.each_with_index do |lib,i|
		.col-lg-3.col-sm-4.col-xs-12	
			.vista
				=portada_de_libro lib.libro.titulo
				.mascara
				.contenido
					%b Título:
					=lib.libro.titulo
					%br
					%br
					-if lib.usuario_id == session[:id]
						=form_tag({controller: "lista_de_deseos", action: "eliminar_libro_lista"}) do
							%input{type:"hidden", name:"libro_id", value:lib.libro_id}
							%button{type:"submit", class:"btn btn-default btn-block"}
								%span.glyphicon.glyphicon-trash
							
	= will_paginate @lista_deseos, page_links:false , previous_label: "Anterior", next_label: "Siguiente"
-else
	.col-xs-6.col-xs-offset-3
		%h3 No se ha agregado ningún libro a la lista de deseos
