%ol.breadcrumb.padding-breadcrumb
	%li
		=link_to "Inicio", {controller:"escritorio",action:"inicio"}
	%li
		=link_to "Lista de deseos"
	%li.active
		=link_to "Agregar libro"

.row
	.col-xs-6.col-xs-offset-3
		%center
			%h3 Agregar libro a la lista de deseos
		%br
		=form_tag({controller: "lista_de_deseos", action: "agregar_libro_lista"}, id:"AgregarListaDeDeseos") do
			%input{id:"cant_autor", type:"hidden", name:"cant_autor", value:"0"}
			.form-group
				%b ISBN del libro (*)
				%input{type:"text","data-autocomplete"=>"autocomplete_libro_isbn", id:"isbn", name:"isbn", class:"form-control", required: "true"}
			.form-group
				%b  Título del libro (*)
				%input{id:"titulo", type:"text", "data-autocomplete"=>"autocomplete_libro_titulo", name:"titulo", class:"form-control"}
			.form-group#autores-input
				%b Autores
				%input{type:"text", id:"autor", name:"autor", class:"form-control requerido"}
				#agregar_aut
					%a.btn.btn-default
						%span.glyphicon.glyphicon-plus 
							Agregar otro autor
			Los datos marcados con (*) son obligatorios
			%br
			= submit_tag "Agregar", class: "btn btn-default btn-lg btn-block"


		#texto-isb
			%p ¿No tienes el ISBN de tu libro?
			%p !No te preocupes! Es muy sencillo de encontrar
			%ul
				%li
					Entra a www.google.com
				%li
					Coloca en el buscado: "Titulo del libro" + ISBN
					Ej: Enciclopedia Girasol de 4to grado ISBN
				%li
					Escoge la primera página y toma los diez o trece digitos del ISBN sin separarlos por guión
					Ej:  ISBN: 9789806189
			%p 
				Si quieres saber más sobre el ISBN entra a la sección de 
				=link_to "información", {controller:"escritorio",action:"informacion"}, class:"link" 
				de la aplicación
