%ol.breadcrumb.padding-breadcrumb
	%li
		=link_to "Inicio", {controller:"escritorio",action:"inicio"}
	%li
		=link_to "Solicitudes"
	%li.active
		=link_to "Solicitudes de libros por confirmar"
%br

-if @solicitudes.count== 0
	.col-xs-6.col-xs-offset-3
		%h3 Usted no tiene solicitudes de libros por confirmar
-@solicitudes.each_with_index do |sol,i|
	.col-lg-3.col-sm-4.col-xs-12
		.panel.panel-default
			.panel-heading
				.panel-title
					%h4.text-center 
						%strong
							=sol.libro.titulo.capitalize
			.panel-heading
				%b Modalidad:
				=sol.tipo_modalidad.descripcion
				%br
				%b Usuario Responsable:
				=link_to "#{@usuariores[i].nombre}", {controller:"usuarios", action:"perfil", id: @usuariores[i].id}
				%ul.botones-editar-perfil
					%li
						=form_tag({controller: "solicitudes", action: "envio_exitoso"}) do
							%input{type:"hidden", name:"dueno_id", value:sol.usuario_dueno_id}
							%input{type:"hidden", name:"libro_id", value:sol.libro_id}
							%button{type:"submit", class:"btn btn-default"}
								%span.glyphicon.glyphicon-ok	
					%li
						=link_to '',{controller:"solicitudes", action:"envio_no_exitoso",dueno_id:sol.usuario_dueno_id, libro_id: sol.libro_id},data:{confirm: "¿Está seguro que desea reportar este envío no exitoso?"}, class:"glyphicon glyphicon-remove btn btn-default"
