%ol.breadcrumb.padding-breadcrumb
	%li
		=link_to "Inicio", {controller:"escritorio",action:"inicio"}
	%li
		=link_to "Solicitudes"
	%li.active
		=link_to "Solicitudes de Libros Recibidas"
%br

-if @solicitudes.count== 0
	.col-xs-6.col-xs-offset-3
		%h3 Usted no tiene solicitudes de libros recibidas
-@solicitudes.each do |sol|
	.col-lg-3.col-sm-4.col-xs-12
		.vista
			=portada_de_libro sol.libro.titulo.capitalize
			
			.mascara
			.contenido
				%b Título
				=sol.libro.titulo.capitalize
				%br
				%b Modalidad:
				=sol.libro_usuario.tipo_modalidad.descripcion
				%br
				%b Usuario Solicitante:
				=link_to "#{sol.usuario.nombre}", {controller:"usuarios", action:"perfil", id: sol.usuario.id}
				%ul.botones-editar-perfil
					%li
						=form_tag({controller: "solicitudes", action: "aceptar_solicitud"}) do
							%input{type:"hidden", name:"solicitante_id", value:sol.usuario_solicitante_id}
							%input{type:"hidden", name:"libro_id", value:sol.libro_id}
							%button{type:"submit", class:"btn btn-default"}
								%span.glyphicon.glyphicon-ok	
					%li
						=link_to '',{controller:"solicitudes", action:"rechazar_solicitud",solicitante_id:sol.usuario_solicitante_id, libro_id: sol.libro_id},data:{confirm: "¿Está seguro que desea rechazar esta solicitud de su libro?"}, class:"glyphicon glyphicon-remove btn btn-default"
	
