%ol.breadcrumb.padding-breadcrumb
	%li
		=link_to "Inicio", {controller:"escritorio",action:"inicio"}
	%li
		=link_to "Solicitudes"
	%li.active
		=link_to "Solicitudes de Libros Enviadas"
%br

-if @solicitudes.count== 0
	.col-xs-6.col-xs-offset-3
		%h3 Usted no tiene solicitudes de libros enviadas
-@solicitudes.each_with_index do |sol,i|
	.col-lg-3.col-sm-4.col-xs-12
		.vista
			=portada_de_libro sol.libro.titulo.capitalize
			.mascara
			.contenido
				%b Título
				=sol.libro.titulo.capitalize
				%br
				%b Modalidad:
				=sol.libro_usuario.tipo_modalidad.descripcion
				%br
				%b Usuario Responsable:
				=link_to "#{@usuariosol[i].nombre}", {controller:"usuarios", action:"perfil", id: @usuariosol[i].id}
				%br
				=link_to 'Cancelar Solicitud',{controller:"solicitudes", action:"cancelar_solicitud",dueno_id: @usuariosol[i].id, libro_id: sol.libro_id},data:{confirm: "¿Está seguro que desea cancelar esta solicitud del libro?"}, class:"glyphicon glyphicon-remove btn btn-default"
	
