$("#myModalAgregarMiembros").modal("hide");

if ($(window).width() >= 986 ){

	$("#contenedor").prepend("<div class='alert alert-success alert-dismissible mensajes-interno visible-lg visible-md'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times</span></button> ¡Las invitaciones han sido enviadas con éxito!</div>");	
}else{
	$("#contenido-interno").prepend("<div class='alert alert-success alert-dismissible mensajes-interno '><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times</span></button> ¡Las invitaciones han sido enviadas con éxito!</div>");	
}

