
$("#input-comentario").html(" ");
if (<%=@numero_comentario.to_i%> == 0){
	$(".feed-comentarios").html("<ul id='lista-comentarios'></ul>");
}

	$("#lista-comentarios").prepend('<li><div class="row"><div class="col-xs-1 col-sm-offset-2"><img id="imagen-comentario" src="/assets/icono-perfil-7261331d0e4a853046969e90cbc53966b924c5d751baecd775a3a82dd66fe1f1.png" alt="Icono perfil 7261331d0e4a853046969e90cbc53966b924c5d751baecd775a3a82dd66fe1f1"></div><div class="col-xs-8"><a class="link" href="/libroteca/usuarios/perfil/<%=@comentario.usuario_id%>"><%=@comentario.usuario.nombre%></a><p class="fecha"><%=@comentario.fecha_creacion%></p><%=@comentario.descripcion%><br><a class="link-eliminar glyphicon glyphicon-remove" href="/libroteca/grupo_de_lectura/eliminar_comentario/<%=@comentario.id%>?grupo_id=<%=@grupo.id%>">Eliminar comentario</a></div></div><hr></li>');

