$(".novisible<%=@campo%><%=@identificador%>" ).hide( "fast" );
$(".<%=@campo%><%=@identificador%> p").html("<%= @texto %> <span class='editar glyphicon glyphicon-pencil'></span>");
$( ".<%=@campo%><%=@identificador%>" ).show("slow");