%ol.breadcrumb.padding-breadcrumb
	%li
		=link_to "Inicio", {controller:"escritorio",action:"inicio"}
	%li
		=link_to "Grupos de Lectura"
	%li.active
		=link_to "#{@grupo.nombre}"

.row 
	.col-xs-3.col-sm-3.col-sm-offset-1
		= image_tag "grupo.png", class: "img-circle img-responsive", id:"imagen-perfil"
	.col-xs-9.col-sm-7#informacion-perfil 
		%p.texto-perfil
			=@grupo.nombre
		%ul#lista-perfil
			%li
				%b Creado:
				=link_to "#{@grupo.usuario.nombre}", {controller:"usuarios", action:"perfil", id:@grupo.usuario.id}, class:"link"
			%li
				%b Fecha del evento:
				= @grupo.fecha_fin
			%li
				= link_to "Ver lista de miembros",{controller:"grupo_de_lectura", action:"ver_miembros",id:@grupo.id},class:"link"
			-if @grupo.usuario_id == session[:id]
				%li
					%a{"data-toggle"=>"modal", "data-target"=>"#myModalAgregarMiembros", href:"#", class:"link"}
						%span.glyphicon.glyphicon-plus 
							Agregar nuevos miembros
			

		

-if @es_miembro
	.row
		%center.texto-comentarios
			Comentarios

	.feed-comentarios
		-if @comentarios.count == 0
			%center
				%h3 Ningún miembro ha hecho un comentario aún
		-else
			%ul#lista-comentarios
				-@comentarios.each do |miembro|
					%li
						.row
							.col-xs-1.col-sm-offset-2
								= image_tag "icono-perfil.png", id:"imagen-comentario"
							.col-xs-12.col-sm-8
								=link_to "#{miembro.usuario.nombre}", {controller:"usuarios",action:"peril",id:miembro.usuario.id}, class:"link"
								%p.fecha 
									=miembro.fecha_creacion
								
								=miembro.descripcion
								%br
								
								-if miembro.usuario_id == session[:id]
									=link_to "Eliminar comentario", {controller:"grupo_de_lectura", action:"eliminar_comentario", id:miembro.id, grupo_id:miembro.grupo_lectura_id}, class:"link-eliminar glyphicon glyphicon-remove"
						%hr

			%center
				= will_paginate @comentarios, page_links:false , class:"botones-feed-de-noticias" , previous_label: "˄", next_label: "˅"
	.row 
		.col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
			=form_tag({controller: "grupo_de_lectura", action: "comentar_grupo"}, id:"ComentarioGrupoLectura") do
				%input{type:"hidden", name:"grupo_id", value:@grupo.id}
				.form-group
					%b Deja tu comentario
					%br
					%textarea{class:"form-control", rows:"4", name:"comentario", id:"input-comentario",require:true}
				%button{type:"submit", class:"btn btn-lg"}
					Comentar
			

.modal.fade.bs-example-modal-sm#myModalAgregarMiembros{ tabindex:"-1", role:"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
	.modal-dialog
		.modal-content
			.modal-header
				%button{ type:"button", class:"close", "data-dismiss"=>"modal", "aria-label"=>"Close"}
					%span{ "aria-hidden"=>"true"}
						&times;
				%h4.modal-title Agregar nuevos miembros
    
			.modal-body
				=form_tag({controller: "grupo_de_lectura", action: "agregar_miembros"},id:"AgregarAmigosEditar",remote:true) do
					 
					%input{type:"hidden",value:"#{@grupo.id}" ,name:"grupo_id"}
					.form-group
						%b Seleccione las personas que desee agregar
						.cajamigos
							-@amigos.each do |ami|
								.checkbox
									%label
										%input{type:"checkbox", name:"amigo[]", value:"#{ami.id}"} 
											= ami.nombre
					%br
				
					=submit_tag "Agregar", class:"btn btn-default btn-lg"
					%button{ type:"button", class:" btn btn-default btn-lg", "data-dismiss"=>"modal", "aria-label"=>"Close", "data-no-turbolink"=> true}
						Cancelar

