%ol.breadcrumb.padding-breadcrumb
	%li
		=link_to "Inicio", {controller:"escritorio",action:"inicio"}
	%li
		=link_to "Grupos de Lectura"
	%li.active
		=link_to "Mis grupos"


-if @mis_grupos.count== 0
	.col-xs-6.col-xs-offset-3
		%h3 No pertenece a ningún grupo de lectura
-@mis_grupos.each do |grup|
	.col-lg-3.col-sm-4.col-xs-12
		.vista
			=portada_de_libro grup.nombre
			
			.mascara
			.contenido
				%b Fecha del evento:
				=grup.fecha_fin
				%b Cantidad de miembros:
				=grup.grupo_lectura_usuario.count
				%ul.botones-editar-grupos
					%li
						=form_tag({controller: "grupo_de_lectura", action: "vista_editar_grupo"}) do
							%input{type:"hidden", name:"grupo_id", value:grup.id}
							%button{type:"submit", class:"btn btn-editar-libro"}
								%span.glyphicon.glyphicon-pencil	
					%li
						=link_to '',{controller:"grupo_de_lectura", action:"eliminar_grupo",id:grup.id},data:{confirm: "¿Está seguro que desea eliminar este grupo de lectura?"}, class:"glyphicon glyphicon-remove btn btn-default"


