%ol.breadcrumb.padding-breadcrumb
	%li
		=link_to "Inicio", {controller:"escritorio",action:"inicio"}
	%li
		=link_to "Grupos de Lectura"
	%li.active
		=link_to "Otros grupos"

-if @otros_grupos.count== 0
	.col-xs-6.col-xs-offset-3
		%h3 Aún no pertenece a ningún grupo de lectura
-@otros_grupos.each do |grup|
	.col-lg-3.col-sm-4.col-xs-12
		.vista
			=portada_de_libro grup.grupo_lectura.nombre
			.mascara
			.contenido
				%b Creador:
				=grup.grupo_lectura.usuario.nombre
				%b Fecha del evento:
				=grup.grupo_lectura.fecha_fin
				%br
				=link_to "Ver más", {controller:"grupo_de_lectura",action:"grupo",id:grup.grupo_lectura_id}, class:"link"
				
	
