%ol.breadcrumb.padding-breadcrumb
	%li
		=link_to "Inicio", {controller:"escritorio",action:"inicio"}
	%li
		=link_to "Solicitudes"
	%li.active
		=link_to "Invitaciones a grupos de lectura"
%br

-if @solicitudes.count== 0
	.col-xs-6.col-xs-offset-3
		%h3 Usted no posee ninguna invitación
-@solicitudes.each do |sol|
	.col-lg-3.col-sm-4.col-xs-12
		.vista
			=portada_de_libro sol.grupo_lectura.nombre
			
			.mascara
			.contenido
				-usuario = Usuario.find(sol.grupo_lectura.usuario_id)
				%b Nombre
				=sol.grupo_lectura.nombre
				%br
				%b Creador:
				=link_to "#{usuario.nombre}", {controller:"usuarios",action:"ver_perfil",id:usuario.id}
				%ul.botones-editar-perfil
					%li
						=form_tag({controller: "grupo_de_lectura", action: "aceptar_solicitud"}) do
							%input{type:"hidden", name:"id", value:sol.grupo_lectura_id}
							%button{type:"submit", class:"btn btn-default"}
								%span.glyphicon.glyphicon-ok	
					%li
						=link_to '',{controller:"grupo_de_lectura", action:"rechazar_solicitud",id:sol.grupo_lectura_id},data:{confirm: "¿Está seguro que desea rechazar esta invitación?"}, class:"glyphicon glyphicon-remove btn btn-default"
	