%ol.breadcrumb.padding-breadcrumb
	%li
		=link_to "Inicio", {controller:"escritorio",action:"inicio"}
	%li
		=link_to "Grupos de Lectura"
	%li
		=link_to "#{@grupo.nombre}",{controller:"grupo_de_lectura",action:"grupo",id:@grupo.id}
	%li.active
		=link_to "Miembros"

-if @miembro_grupo.size()!=0
	-@miembro_grupo.each do |miem|
		.col-lg-3.col-sm-4.col-xs-12
			.vista	
				=image_tag "icono-perfil.png", class:"img-amigo"
				%p.titulo-amigo-vista
					=miem.usuario.nombre
				.mascara
				.contenido
					%b Nombre
					=miem.usuario.nombre
					%br
					%b Puntuación:
					=miem.usuario.puntuacion
					%br
					%b
						=link_to "Ver Perfil", {controller:"usuarios", action:"perfil", id: miem.usuario.id}

					-if @grupo.usuario_id == session[:id]
						%br
						%br
						=form_tag({controller: "grupo_de_lectura", action: "eliminar_miembro_grupo"}) do
							%input{type:"hidden", name:"grupo_id", value:miem.grupo_lectura_id}
							%input{type:"hidden", name:"miembro_id", value:miem.usuario.id}
							%button{type:"submit", class:"btn btn-default btn-block"}
								%span.glyphicon.glyphicon-trash
						
	= will_paginate @miembro_grupo, page_links:false , previous_label: "Anterior", next_label: "Siguiente"
-else
	.col-xs-6.col-xs-offset-3
		%h3 Este grupo no posee miembros

