%ol.breadcrumb.padding-breadcrumb
	%li
		=link_to "Inicio", {controller:"escritorio",action:"inicio"}
	%li
		=link_to "Grupos de lectura"
	%li
		=link_to "Mis grupos", {controller:"grupo_de_lectura",action:"grupos_propios"}
	%li.active
		Editar grupo de lectura:
		= @grupo.nombre

.row

	.col-xs-12.padding-editar

		.form-group
			=editable_texto_grupo "Nombre", @grupo.nombre, :nombre, @grupo.id

		.form-group
			=editable_texto_grupo "Fecha del evento", @grupo.fecha_fin, :fecha_fin, @grupo.id
		.form-group
			%a{"data-toggle"=>"modal", "data-target"=>"#myModalAgregarMiembros", href:"#", class:"link"}
				%span.glyphicon.glyphicon-plus 
					Agregar nuevos miembros

.modal.fade.bs-example-modal-sm#myModalAgregarMiembros{ tabindex:"-1", role:"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
	.modal-dialog
		.modal-content
			.modal-header
				%button{ type:"button", class:"close", "data-dismiss"=>"modal", "aria-label"=>"Close"}
					%span{ "aria-hidden"=>"true"}
						&times;
				%h4.modal-title Agregar nuevos miembros
    
			.modal-body
				=form_tag({controller: "grupo_de_lectura", action: "agregar_miembros"},id:"AgregarAmigosEditar",remote:true) do
					 
					%input{type:"hidden",value:"#{@grupo.id}" ,name:"grupo_id"}
					.form-group
						%b Seleccione las personas que desee agregar
						.cajamigos
							-@amigos.each do |ami|
								.checkbox
									%label
										%input{type:"checkbox", name:"amigo[]", value:"#{ami.id}"} 
											= ami.nombre
					%br
				
					=submit_tag "Agregar", class:"btn btn-default btn-lg"
					%button{ type:"button", class:" btn btn-default btn-lg", "data-dismiss"=>"modal", "aria-label"=>"Close", "data-no-turbolink"=> true}
						Cancelar

