%ol.breadcrumb.padding-breadcrumb
	%li
		=link_to "Inicio", {controller:"escritorio",action:"inicio"}
	%li
		=link_to "Grupo de lectura"
	%li.active
		=link_to "Crear"

.col-xs-6.col-xs-offset-3
	-if @amigos.count == 0 
		%h3 Debe agregar algún amigo para crear un grupo de lectura
	-else
		=form_tag({controller: "grupo_de_lectura", action: "crear_grupo_lectura"}, id:"CrearGrupoLectura") do
			.form-group
				%b Nombre (*)
				%input{type:"text", name:"nombre", class:"form-control", required: "true"}
			.form-group
				%b Fecha del evento (*)
				%input{ id:'datepicker2',type:"text",name:"fecha_fin",class:"form-control", required:"true"}
			
			.form-group
				%b Agregar Amigos (*)
				.cajamigos
					-@amigos.each do |ami|
						.checkbox
							%label
								%input{type:"checkbox", name:"amigo[]", value:"#{ami.id}"} 
									= ami.nombre
					
			Los datos marcados con (*) son obligatorios
			%br
			=submit_tag "Crear", class:"btn btn-default btn-lg"

	
			

