
.padding-tabs
	.row
		.col-xs-12
			%ul.nav.nav-tabs
				%li.dropdown
					%a.dropdown-toggle.menubuscar{"data-toggle"=>"dropdown", href:"#", role:"button", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
						Herramientas de Búsqueda
						%span.caret
					%ul.dropdown-menu
						%li
							%a.btn.btn-default#bisbn{href:"#"}
								Por ISBN
						%li
							%a.btn.btn-default#btitulo{href:"#"}
								Por título
						%li
							%a.btn.btn-default#bautor{href:"#"}
								Por autor
						%li
							%a.btn.btn-default#bedit{href:"#"}
								Por editorial
						%li
							%a.btn.btn-default#bmodal{href:"#"}
								Por modalidad
						%li
							%a.btn.btn-default#bcat{href:"#"}
								Por categoría
						%li
							%a.btn.btn-default#btod{href:"#"}
								Por todas las anteriores
	%br
	.row
		.col-xs-6.col-xs-offset-3#todoculto{class: "no_visible", style:"display:none"}
			=form_tag({controller: "bienvenida", action: "busqueda_general"}) do
				
				.form-group
					%label ISBN
					%input{type:"text","data-autocomplete"=>"autocomplete_libro_isbn", id:"isbn", name:"isbn", class:"form-control"}
				.form-group
					%label Título
					%input{type:"text","data-autocomplete"=>"autocomplete_libro_titulo", id:"titulo", name:"titulo", class:"form-control"}
				.form-group
					%label Autor
					%input{id:"autor", type:"text", "data-autocomplete"=>"autocomplete_autor_nombre", name:"autor", class:"form-control"}
				.form-group
					%label Editorial
					%input{id:"editorial", type:"text", name:"editorial","data-autocomplete"=>"autocomplete_libro_editorial", class:"form-control"}
				.form-group
					%label Modalidad
					=select_tag "modalidad", options_from_collection_for_select(@modalidades, "id", "descripcion"), class:"form-control", id:"selmodalidad"
				.form-group
					%label Categoría
					=select_tag "categoria", options_from_collection_for_select(@categorias, "id", "descripcion"), class:"form-control", id:"CambiarCategoria"
				.form-group
					#mensaje_categoria
					%label Subcategoría
					.subcategoria-div
						=select_tag "subcategoriaEscolar", options_from_collection_for_select(@subcategoriasEscolar, "id", "descripcion"), class:"form-control", id:"subcategoriae"
					.subcategoria-div{style:"display:none;"}
						=select_tag "subcategoriaUniversitario", options_from_collection_for_select(@subcategoriasUniversitario, "id", "descripcion"), class:"form-control", id:"subcategoriau"
				= submit_tag "Buscar", class: "btn btn-default btn-block"


		.col-xs-6.col-xs-offset-3#tituloculto{class: "no_visible", style:"display:none"}
			=form_tag({controller: "bienvenida", action: "busqueda_general"}) do
				.form-group
					%label Título (*)
					%input{type:"text","data-autocomplete"=>"autocomplete_libro_titulo", id:"titulo", name:"titulo", class:"form-control", required: "true"}
				Los datos marcados con (*) son obligatorios
				%br
				= submit_tag "Buscar", class: "btn btn-default btn-block"		

		.col-xs-6.col-xs-offset-3#isbnoculto{class: "no_visible", style:"display:none"}
			=form_tag({controller: "bienvenida", action: "busqueda_general"}) do
				.form-group
					%label ISBN (*)
					%input{type:"text","data-autocomplete"=>"autocomplete_libro_isbn", id:"isbn", name:"isbn", class:"form-control", required: "true"}
				Los datos marcados con (*) son obligatorios
				%br
				= submit_tag "Buscar", class: "btn btn-default btn-block"
		.col-xs-6.col-xs-offset-3#autoroculto{class: "no_visible", style:"display:none"}
			=form_tag({controller: "bienvenida", action: "busqueda_general"}) do
				.form-group
					%label Autor (*)
					%input{id:"autor", type:"text", "data-autocomplete"=>"autocomplete_autor_nombre", name:"autor", class:"form-control", required:"true"}
				Los datos marcados con (*) son obligatorios
				%br
				= submit_tag "Buscar", class: "btn btn-default btn-block"
		.col-xs-6.col-xs-offset-3#editoculto{class: "no_visible", style:"display:none"}
			=form_tag({controller: "bienvenida", action: "busqueda_general"}) do
				.form-group
					%label Editorial (*)
					%input{id:"editorial", type:"text", name:"editorial","data-autocomplete"=>"autocomplete_libro_editorial", class:"form-control", required:"true"}
				Los datos marcados con (*) son obligatorios
				%br
				= submit_tag "Buscar", class: "btn btn-default btn-block"
		.col-xs-6.col-xs-offset-3#modaloculto{class: "no_visible", style:"display:none"}
			=form_tag({controller: "bienvenida", action: "busqueda_general"}) do
				.form-group
					%label Modalidad (*)
					=select_tag "modalidad", options_from_collection_for_select(@modalidades, "id", "descripcion"), class:"form-control", id:"selmodalidad"
				Los datos marcados con (*) son obligatorios
				%br
				= submit_tag "Buscar", class: "btn btn-default btn-block"
		.col-xs-6.col-xs-offset-3#cateoculto{class: "no_visible", style:"display:none"}
			=form_tag({controller: "bienvenida", action: "busqueda_general"}) do
				.form-group
					%label Categoría (*)
					=select_tag "categoria", options_from_collection_for_select(@categorias, "id", "descripcion"), class:"form-control", id:"CambiarCategoria2"
				.form-group
					#mensaje_categoria
					%label Subcategoría (*)
					.subcategoria-div2
						=select_tag "subcategoriaEscolar", options_from_collection_for_select(@subcategoriasEscolar, "id", "descripcion"), class:"form-control", id:"subcategoriae2"
					.subcategoria-div2{style:"display:none;"}
						=select_tag "subcategoriaUniversitario", options_from_collection_for_select(@subcategoriasUniversitario, "id", "descripcion"), class:"form-control", id:"subcategoriau2"
				Los datos marcados con (*) son obligatorios
				%br
				= submit_tag "Buscar", class: "btn btn-default btn-block"
		-if @lista==nil
			.col-xs-6.col-xs-offset-3.visible
				%h3 No se encontraron resultados para esta búsqueda
		-else
			-if @lista.size()==0
				.col-xs-6.col-xs-offset-3.visible
					%h3 No se encontraron resultados para esta búsqueda
			-else
				.row
					.col-xs-6.col-xs-offset-3.visible
						-@mostrar="Se encontraron "+@librou.size().to_s+" resultados:"
						=@mostrar
				.row
				-@lista.each do |lib|
					.col-lg-3.col-sm-4.col-xs-12.visible
						.vista
							=portada_de_libro lib.libro.titulo
							.mascara
							.contenido
								%b Título:
								=lib.libro.titulo
								%br
								-if lib.libro.categoria_id==1
									%b Grado:
									=lib.libro.grado
									%br
								%b Usuario:
								=link_to "#{lib.usuario.nombre}", {controller:"usuarios", action:"perfil", id:lib.usuario.id},class:"link"
								%br
								%b Modalidad:
								=lib.tipo_modalidad.descripcion
								%br
								%b Condición:
								=lib.tipo_condicion.descripcion
								%br

								-if lib.usuario.id != session[:id] || session[:id]==nil 
									=link_to "Solicitar",{controller:"libros",action:"solicitar_libro",libro_id:lib.libro.id, usuario_id:lib.usuario.id} , class:"btn btn-default"
								=link_to "Ver más", {controller:"libros",action:"ver_libro",id:lib.libro.id, usuario_id: lib.usuario.id}
				#paginacion
					= will_paginate @pages,  previous_label: "Anterior", next_label: "Siguiente"
	%br
	.row
		.col-xs-6.col-xs-offset-3
			%button{type:"button", class:"btn btn-default btn-lg center-block", onclick:" location.href = 'javascript:history.back(-1);'", "aria-label"=>"Left Align"}
				Volver


:javascript
	$( "#CambiarCategoria" ).change(function() {
		$( ".subcategoria-div" ).toggle();
	});

	$( "#CambiarCategoria2" ).change(function() {
		$( ".subcategoria-div2" ).toggle();
	});

	$("#buscador").hide();



