#carousel-example-generic.carousel.slide{ "data-ride"=>"carousel"}

	.carousel-inner{role:"listbox"}
		.item.active
			%img{ src:"/assets/slide1.jpg"}
			.carousel-caption#slide1
				¡ Dale una nueva vida a tus libros viejos !
        
		.item
			%img{ src:"/assets/slide2.jpg"}
			.carousel-caption#slide2
				¡ La manera más sencilla de negociar tus libros !

	%a{ class: "left carousel-control", href: "#carousel-example-generic", role:"button", "data-slide"=>"prev"}
		%span{ class:"glyphicon glyphicon-chevron-left", "aria-hidden"=>"true"}
		%span.sr-only Previous
  
	%a{ class:"right carousel-control", href:"#carousel-example-generic", role:"button" ,"data-slide"=>"next"}
		%span{ class:"glyphicon glyphicon-chevron-right", "aria-hidden"=>"true"}
		%span{ class:"sr-only"} Next

#infografia
	.row.wow.fadeInDownBig{"data-wow-delay"=>"0.5s"}
		%center#como-funciona
			¿Cómo utilizo Libroteca?

	.row.hidden-xs.padding-bottom-inicio
		.col-md-2.col-sm-3.col-xs-6.col-md-offset-3.col-sm-offset-2
			= image_tag "icono1.png", class:"imagen-infografia "
			%div
				.numero 1
				%p.texto-infografia Inicia Sesión
		.col-md-2.col-sm-3.col-xs-6
			= image_tag "icono2.png", class:"imagen-infografia"
			%div
				.numero 2
				%p.texto-infografia Sube tu libro y recibe puntos
		.col-md-2.col-sm-3.col-xs-6
			= image_tag "icono3.png", class:"imagen-infografia"
			%div
				.numero 3
				%p.texto-infografia Recibe peticiones por tu libro
	.row.hidden-xs
		.col-md-2.col-sm-3.col-xs-6.col-sm-offset-4
			= image_tag "icono4.png", class:"imagen-infografia"
			%div
				.numero 4
				%p.texto-infografia Envía y recibe puntos
		.col-md-2.col-sm-3.col-xs-6
			= image_tag "icono5.png", class:"imagen-infografia"
			%div
				.numero 5
				%p.texto-infografia Solicita libros

	.row.visible-xs.padding-bottom-inicio
		.col-xs-6
			= image_tag "icono1.png", class:"imagen-infografia"
			%div
				.numero 1
				%p.texto-infografia Inicia Sesión
		.col-xs-6
			= image_tag "icono2.png", class:"imagen-infografia"
			%div
				.numero 2
				%p.texto-infografia Sube tu libro y recibe puntos
	.row.visible-xs.padding-bottom-inicio#como-funciona
		.col-xs-6
			= image_tag "icono3.png", class:"imagen-infografia"
			%div
				.numero 3
				%p.texto-infografia Recibe peticiones por tu libro
		.col-xs-6
			= image_tag "icono4.png", class:"imagen-infografia"
			%div
				.numero 4
				%p.texto-infografia Envía y recibe puntos
	.row.visible-xs
		.col-xs-6
			= image_tag "icono5.png", class:"imagen-infografia"
			%div
				.numero 5
				%p.texto-infografia Solicita libros

	  
