<%if @error %>
$("#error-contrasena").show("slow");
<%else%>
	$("#modal-body-contrasena").html("<div class='alert alert-success alert-dismissible'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times</span></button> ¡Su contraseña ha sido reestablecida con éxito! Le ha sido enviada una clave temporal a su correo electrónico</div>");	
	
<%end%>
