%ol.breadcrumb.padding-breadcrumb
  %li
    =link_to "Inicio", {controller:"escritorio",action:"inicio"}
  %li.active
    =link_to "Información"

.row
  .col-xs-10.col-xs-offset-1
    %center
      %h3 Preguntas frecuentes
    %br
    #tabs-informacion.panel-group#accordion{ "role"=>"tablist"}
      .panel.panel-default
        .fondo-morado.panel-heading{ "role"=>"tab", id:"preguntauno"}
          %h4.panel-title
            %a{ "role"=>"button", "data-toggle"=>"collapse", "data-parent"=>"#accordion" ,href:"#collapseOne", "aria-expanded"=>false, "aria-controls"=>"collapseOne"}
              ¿Qué es Libroteca?

        #collapseOne.panel-collapse.collapse{ role:"tabpanel" ,"aria-labelledby"=>"preguntauno"}
          .panel-body.texto-informacion
            Libroteca es una aplicación Web, que permite el intercambio, compra, venta y donación de libros escolares y universitarios usados. Así como también, permite a sus usuarios socializar virtualmente de acuerdo a sus intereses literarios, permitiéndoles crear grupos de lectura, tener una lista de deseos, agregar amigos y publicar noticias.

      .panel.panel-default
        .fondo-azul.panel-heading{ "role"=>"tab", id:"preguntados"}
          %h4.panel-title
            %a{ "role"=>"button", "data-toggle"=>"collapse", "data-parent"=>"#accordion" ,href:"#collapseTwo", "aria-expanded"=>false, "aria-controls"=>"collapseTwo"}
              ¿Qué es el ISBN?

        #collapseTwo.panel-collapse.collapse{ role:"tabpanel" ,"aria-labelledby"=>"preguntados"}
          .panel-body.texto-informacion
            El ISBN son las siglas que identifican en inglés al 
            %i International Standard Book Number
            , cuya traducción al español es Número Internacional Normalizado para Libros. Se trata de un sistema internacional de numeración que tiene como función principal, la identificación de los libros y que se utiliza en el sector editorial desde hace aproximadamente cuatro décadas. Es un número de diez o trece dígitos.

      .panel.panel-default
        .fondo-morado.panel-heading{ "role"=>"tab", id:"preguntatres"}
          %h4.panel-title
            %a{ "role"=>"button", "data-toggle"=>"collapse", "data-parent"=>"#accordion" ,href:"#collapseTres", "aria-expanded"=>false, "aria-controls"=>"collapseTres"}
              ¿Por qué identificar los libros por ISBN?

        #collapseTres.panel-collapse.collapse{ role:"tabpanel" ,"aria-labelledby"=>"preguntatres"}
          .panel-body.texto-informacion
            Este código es el que permite la circulación de los libros en el mercado editorial y es, por tanto, el responsable de que llegue a las manos de los lectores. Debido a esto, es la manera más rápida de localizar una obra editorial concreta.

            El ISBN es la señal de identidad de todas las obras publicadas y recoge de forma sencilla la información más relevante sobre ellas.

      .panel.panel-default
        .fondo-azul.panel-heading{ "role"=>"tab", id:"preguntacuatro"}
          %h4.panel-title
            %a{ "role"=>"button", "data-toggle"=>"collapse", "data-parent"=>"#accordion" ,href:"#collapseCuatro", "aria-expanded"=>false, "aria-controls"=>"collapseCuatro"}
              ¿Cómo busco el ISBN de un libro?

        #collapseCuatro.panel-collapse.collapse{ role:"tabpanel" ,"aria-labelledby"=>"preguntacuatro"}
          .panel-body.texto-informacion
            Si tienes el libro en tus manos, puedes buscar en la contraportada del libro, allí se encuentra su ISBN. Si no, puedes realizar lo siguiente:
            %ul
              %li
                1- Entra a www.google.com
              %li
                2- Coloca en el buscador: "Título del libro" + ISBN
                Ej: Enciclopedia Girasol de 4to grado ISBN
              %li
                3- Escoge la primera página y copia los diez o trece dígitos del ISBN sin separarlos por guión
                Ej:  ISBN: 9789806189

      .panel.panel-default
        .fondo-morado.panel-heading{ "role"=>"tab", id:"preguntacinco"}
          %h4.panel-title
            %a{ "role"=>"button", "data-toggle"=>"collapse", "data-parent"=>"#accordion" ,href:"#collapseCinco", "aria-expanded"=>false, "aria-controls"=>"collapseCinco"}
              ¿Cómo se realiza el proceso de intercambio en libroteca?

        #collapseCinco.panel-collapse.collapse{ role:"tabpanel" ,"aria-labelledby"=>"preguntacinco"}
          .panel-body.texto-informacion

            El proceso de intercambio es muy sencillo, solo hay que solicitar el libro en modalidad de intercambio que se desee, al realizar esto, por medio de la aplicación, se podrá poner en contacto con el dueño del libro para recibirlo, en caso de que el mismo acepte.
            %br

            El intercambio en Libroteca funciona por medio de una colección de libros, por lo tanto, para solicitar un libro que este en la modalidad intercambio, es necesario tener al menos un libro propio en dicha modalidad. 
            %br

            Para esta modalidad, podrás solicitar tantos libros como aquellos propios que hayas cargado en la colección de libros para intercambio. Es decir, si posees tres libros propios para intercambio, te da derecho a solicitar tres libros de otros usuarios que estén en esta modalidad. 

      .panel.panel-default
        .fondo-azul.panel-heading{ "role"=>"tab", id:"preguntaseis"}
          %h4.panel-title
            %a{ "role"=>"button", "data-toggle"=>"collapse", "data-parent"=>"#accordion" ,href:"#collapseSeis", "aria-expanded"=>false, "aria-controls"=>"collapseSeis"}
              ¿Cómo puedo ganar o perder puntos en libroteca?

        #collapseSeis.panel-collapse.collapse{ role:"tabpanel" ,"aria-labelledby"=>"preguntaseis"}
          .panel-body.texto-informacion

            Puede ganar puntos cuando:
            %ul
              %li
                Sube un nuevo libro(
                %b +2ptos
                )
              %li
                Sube un nuevo libro en modalidad intercambio(
                %b +3ptos
                )
              %li
                Concreta una negociación de libro (
                %b +5ptos
                )
              %li
                Concreta una negociación de libro en modalidad intercambio(
                %b +7ptos
                )
              %li
                Agrega un nuevo amigo, acepta solicitud de amistad y comenta un grupo de lectura  (
                %b +1ptos
                )

            Puede perder puntos cuando:
            %ul
              %li
                No concreta un negociación de libro(
                %b -5ptos
                )  

      .panel.panel-default
        .fondo-morado.panel-heading{ "role"=>"tab", id:"preguntasiete"}
          %h4.panel-title
            %a{ "role"=>"button", "data-toggle"=>"collapse", "data-parent"=>"#accordion" ,href:"#collapseSiete", "aria-expanded"=>false, "aria-controls"=>"collapseSiete"}
              ¿Para qué sirven los grupos de lectura?

        #collapseSiete.panel-collapse.collapse{ role:"tabpanel" ,"aria-labelledby"=>"preguntasiete"}
          .panel-body.texto-informacion

            Los grupos de lectura te permiten organizar encuentros literarios con tus amigos. Crearlos es muy sencillo:
            %ul
              %li
                Hay que dirigise a la sección "Grupos de lectura" > "Crear grupo"
              %li
                LLenar los datos informativos y realizar la invitación a todos tus amigos
              %li
                Entra al grupo de lectura  e interactúa con los otros miembros para organizar el evento

            Para ser parte de un grupo de lectura es necesario ser invitado por el creador.

      .panel.panel-default
        .fondo-azul.panel-heading{ "role"=>"tab", id:"preguntaocho"}
          %h4.panel-title
            %a{ "role"=>"button", "data-toggle"=>"collapse", "data-parent"=>"#accordion" ,href:"#collapseOcho", "aria-expanded"=>false, "aria-controls"=>"collapseOcho"}
              ¿En qué consiste la lista de deseos?

        #collapseOcho.panel-collapse.collapse{ role:"tabpanel" ,"aria-labelledby"=>"preguntaocho"}
          .panel-body.texto-informacion

            La lista de deseos esta conformada por todos los libros que quisieras tener y no has encontrado aún en Libroteca. Solo hay que dirigise a la sección "Lista de deseos" > "Agregar un libro" y llenar los datos necesarios para agregar el libro a la lista, de esta manera, cuando el libro sea cargado a Libroteca te llegará una notificación para que puedas solicitarlo.             

      .panel.panel-default
        .fondo-morado.panel-heading{ "role"=>"tab", id:"preguntanueve"}
          %h4.panel-title
            %a{ "role"=>"button", "data-toggle"=>"collapse", "data-parent"=>"#accordion" ,href:"#collapseNueve", "aria-expanded"=>false, "aria-controls"=>"collapseNueve"}
              ¿Qué hacer en caso de solicitar un libro y nunca recibirlo o recibirlo en malas condiciones?

        #collapseNueve.panel-collapse.collapse{ role:"tabpanel" ,"aria-labelledby"=>"preguntanueve"}
          .panel-body.texto-informacion

            Cuando se realiza la solicitud de cualquier libro disponible en Libroteca, una vez que el usuario dueño del libro acepta dicha solicitud, la aplicación facilita la comunicación entre ambos usuarios para que puedan coordinar la entrega del libro. 

            Cuando esto sucede, se genera una solicitud en la sección "Solicitudes" > "Solicitudes de libros" > "Por confirmar recepción", en caso de nunca recibir el libro solicitado o recibirlo en malas condiciones (sin ser avisado previamente), se debe notificar en dicha sección, de esta manera, le serán restado puntos al usuario dueño involucrado.

      .panel.panel-default
        .fondo-azul.panel-heading{ "role"=>"tab", id:"preguntadiez"}
          %h4.panel-title
            %a{ "role"=>"button", "data-toggle"=>"collapse", "data-parent"=>"#accordion" ,href:"#collapseDiez", "aria-expanded"=>false, "aria-controls"=>"collapseDiez"}
              ¿Qué hago si me solicitan un libro propio para intercambio y aún no he recibido ninguno?

        #collapseDiez.panel-collapse.collapse{ role:"tabpanel" ,"aria-labelledby"=>"preguntadiez"}
          .panel-body.texto-informacion

            El proceso de intercambio en Libroteca funciona por medio de una colección de libros, es decir, por cada libro que se coloca en la modalidad intercambio se puede solicitar uno en dicha modalidad, por lo tanto, si ya te solicitaron un libro para intercambio, realizaste la entrega existosa del mismo, y aún no has encontrado en la colección ninguno que te interese... No te preocupes, puedes realizar la petición de un libro en modalidad de intercambio cuando lo desees. Mantén tu lista de deseos actualizada para que la aplicación te notifique cuando otro usuario agrega un libro en el cual estás interesado.

      .panel.panel-default
        .fondo-morado.panel-heading{ "role"=>"tab", id:"preguntaonce"}
          %h4.panel-title
            %a{ "role"=>"button", "data-toggle"=>"collapse", "data-parent"=>"#accordion" ,href:"#collapseOnce", "aria-expanded"=>false, "aria-controls"=>"collapseOnce"}
              ¿Para qué se utilizan los puntos en libroteca?

        #collapseOnce.panel-collapse.collapse{ role:"tabpanel" ,"aria-labelledby"=>"preguntaonce"}
          .panel-body.texto-informacion

            Los puntos en Libroteca van sumándole credibilidad a un usuario, de acuerdo a sus negociaciones concretadas de libros, libros cargados en el sistema, amigos y grupos de lectura creados, entre otros. Por lo tanto, mientras más puntos tenga un usuario, mayor es la probabilidad de que puedas concretar una negociación de libro exitosamente con él.

            Si por el contrario, posee muy pocos puntos o un puntaje negativo, quiere decir que el usuario no tiene una buena reputación dentro de Libroteca.

