%ol.breadcrumb.padding-breadcrumb
	%li.active
		Bienvenido
		=session[:nombre]
			
%br

.row
	%center.texto-perfil
		¡Lo más reciente!
	-if @libros.count == 0
		%center
			Aún no se ha subido ningun libro a la aplicación
			%br
			%br
	-else
		.slider1
			-@libros.each do |lib|
				.slide
					.vista
						=portada_de_libro lib.libro.titulo
						.mascara
						.contenido
							%b Título:
							=lib.libro.titulo
							%br
							-if lib.libro.categoria_id==1
								%b Grado:
								=lib.libro.grado
								%br
							%b Usuario:
							=link_to "#{lib.usuario.nombre}", {controller:"usuarios", action:"perfil", id:lib.usuario.id}, class:"link"
							%br
							%b Modalidad:
							=lib.tipo_modalidad.descripcion
							%br
							%b Condición:
							=lib.tipo_condicion.descripcion
							-if lib.usuario.id != session[:id]
								%br
								=link_to "Solicitar",{controller:"libros",action:"solicitar_libro",libro_id:lib.libro.id, usuario_id:lib.usuario.id} , class:"btn btn-default"
							%br
							=link_to "Ver más", {controller:"libros",action:"ver_libro",id:lib.libro.id, usuario_id: lib.usuario.id}
	
#parallax.hidden-xs{ "data-speed"=>"4", "data-type"=>"background"}
        
  
.row
	%center.texto-perfil
		Noticias

.feed-noticias
	-if @noticias.count == 0
		%b Por los momentos no hay noticias
	-else
		=paginador_de_noticias (@noticias)




