%ol.breadcrumb.padding-breadcrumb
	%li
		=link_to "Inicio", {controller:"escritorio",action:"inicio"}
	%li
		=link_to "Perfil"
	%li.active
		=link_to "Buscar amigos"

.row
	.col-xs-6.col-xs-offset-3
		%center
			%h3 ¡Busca a tus conocidos en Libroteca!
		%br
		=form_tag({controller: "usuarios", action: "buscar_amigos"}, id:"BuscarAmigos") do
			.form-group
				%b Correo Electrónico o Nombre
				%input{type:"text", name:"amigo", class:"form-control", require:true}		

			= submit_tag "Buscar", class: "btn btn-default btn-lg btn-block"

#padding-tabs-buscar-amigos

	-if @amigos.size() ==0
		%center
			%h4 No se han encontrado coincidencias
	-else
		%center
			%h4 Se consiguieron las siguientes coincidencias
		-@amigos.each do |ami|
			.col-lg-3.col-sm-4.col-xs-12
				.vista
					-if ami.picture.present?
						= image_tag(ami.picture_url, class: "img-amigo")
					-else
						=image_tag "icono-perfil.png" , class: "img-amigo"
					%p.titulo-amigo-vista
						=ami.nombre
					.mascara
					.contenido
						%b Nombre
						=ami.nombre
						%br
						%b Puntuación:
						=ami.puntuacion
						%br
						%b Entregas Exitosas:
						=ami.solicitud(estado_solicitud_id:"REALIZADA").count
						%br
						%b
							=link_to "Ver Perfil", {controller:"usuarios", action:"perfil", id: ami.id}



