<%if @correo %>
	if ($(window).width() >= 986 ){
		$("#contenedor").prepend("<div class='alert alert-danger alert-dismissible mensajes-interno visible-lg visible-md'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times</span></button> La direción de correo ya existe, por favor, verifique e inténtelo nuevamente</div>");	
	}else{
		$("#contenido-interno").prepend("<div class='alert alert-danger alert-dismissible mensajes-interno '><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times</span></button> La dirección de correo ya existe, por favor, verfique e inténtelo nuevamente</div>");	
	}
<%else%>
	$(".novisible<%=@campo%><%=@identificador%>" ).hide( "fast" );

	$(".<%=@campo%><%=@identificador%> p").html("<%= @texto %> <span class='editar glyphicon glyphicon-pencil'></span>");

	$( ".<%=@campo%><%=@identificador%>" ).show("slow");

	$("#tipo_noticia_id").attr("value","PERF");
	$("#noticia").attr("value","modifico su perfil");
	$("#generador_noticia_id").attr("value","<%= @generador_noticia_id %>");
	$("#estilo-noticia").html("<%= session[:nombre] %> modifico su perfil");
	$("#myModalNoticiasPerfil").modal("show");
<%end%>
