%ol.breadcrumb.padding-breadcrumb
	%li
		=link_to "Inicio", {controller:"escritorio",action:"inicio"}
	%li
		=link_to "Perfil", {controller:"usuarios", action:"perfil", id:session[:id]}
	-if @usuario.id.to_i == session[:id].to_i
		%li.active
			Mi historial
	-else
		%li.active
			Historial de 
			=@usuario.nombre
%br

.row 
	.col-xs-5.col-xs-offset-1
		.list-group
			%a.list-group-item{href:"#", id:"esolicitudesExi"}	
				%span.badge 
					= @esolicitudesexi.count
				Solicitudes Enviadas Exitosas
	.col-xs-5
		%a.list-group-item{href:"#", id:"rsolicitudesExi"}	
			%span.badge 
				=@rsolicitudesexi.count
			Solicitudes Recibidas Exitosas
.row
	.col-xs-5.col-xs-offset-1
		.list-group
			%a.list-group-item{href:"#", id:"esolicitudesEsp"} 
				%span.badge 
					=@esolicitudesesp.count	
				Solicitudes Enviadas en Espera
	.col-xs-5.col
		.list-group
			%a.list-group-item{href:"#", id:"rsolicitudesEsp"} 
				%span.badge 
					=@rsolicitudesesp.count	
				Solicitudes Recibidas en Espera

.row#solenvexi{style:"display:none;"}
	.col-xs-10.col-xs-offset-1
		-if @esolicitudesexi.count>0
			%table.table.table-striped.table-bordered
				%tbody
					%tr
						%th
							Libro Solicitado
						%th
							Fecha de Solicitud
						%th
							Modalidad del Libro
						%th
							Usuario Responsable del Libro
				-@esolicitudesexi.each_with_index do |sol,i|
					%tr
						%td
							=sol.libro.titulo
						%td
							=sol.fecha_solicitud
						%td
							=sol.tipo_modalidad.descripcion
						%td
							=link_to "#{@usuariosresp[i].nombre.capitalize}", {controller:"usuarios", action:"perfil", id:@usuariosresp[i].id}	
		-else
			%h4 El usuario no tiene solicitudes enviadas negociadas exitosamente

.row#solenvesp{style:"display:none;"}
	.col-xs-10.col-xs-offset-1
		-if @esolicitudesesp.count>0
			%table.table.table-striped.table-bordered
				%tbody
					%tr
						%th
							Libro Solicitado
						%th
							Fecha de Solicitud
						%th
							Modalidad del Libro
						%th
							Usuario Responsable del Libro
				-@esolicitudesesp.each_with_index do |sol,i|
					%tr
						%td
							=sol.libro.titulo
						%td
							=sol.fecha_solicitud
						%td
							=sol.tipo_modalidad.descripcion
						%td
							=link_to "#{@usuariosrespe[i].nombre.capitalize}", {controller:"usuarios", action:"perfil", id:@usuariosrespe[i].id}
		-else
			%h4 El usuario no tiene solicitudes enviadas en espera

.row#solrecexi{style:"display:none;"}
	.col-xs-10.col-xs-offset-1
		-if @rsolicitudesexi.count>0
			%table.table.table-striped.table-bordered
				%tbody
					%tr
						%th
							Libro Solicitado
						%th
							Fecha de Solicitud
						%th
							Modalidad del Libro
						%th
							Usuario Solicitante del Libro
				-@rsolicitudesexi.each do |sol|
					%tr
						%td
							=sol.libro.titulo
						%td
							=sol.fecha_solicitud
						%td
							=sol.tipo_modalidad.descripcion
						%td
							=link_to "#{sol.usuario.nombre.capitalize}", {controller:"usuarios", action:"perfil", id:sol.usuario.id}		
		-else
			%h4 El usuario no tiene solicitudes recibidas negociadas exitosamente

.row#solrecesp{style:"display:none;"}
	.col-xs-10.col-xs-offset-1
		-if @rsolicitudesesp.count>0
			%table.table.table-striped.table-bordered
				%tbody
					%tr
						%th
							Libro Solicitado
						%th
							Fecha de Solicitud
						%th
							Modalidad del Libro
						%th
							Usuario Solicitante del Libro
				-@rsolicitudesesp.each do |sol|
					%tr
						%td
							=sol.libro.titulo
						%td
							=sol.fecha_solicitud
						%td
							=sol.tipo_modalidad.descripcion
						%td
							=link_to "#{sol.usuario.nombre.capitalize}", {controller:"usuarios", action:"perfil", id:sol.usuario.id}	
		-else
			%h4 El usuario no tiene solicitudes recibidas en espera
