%ol.breadcrumb.padding-breadcrumb
	%li
		=link_to "Inicio", {controller:"escritorio",action:"inicio"}
	%li
		=link_to "Perfil", {controller:"usuarios", action:"perfil", id:session[:id]}
	%li.active
		=link_to "Mis Amigos"
%br

.padding-tabs
	-if @misamigos!=[]
		-@misamigos.each do |ami|
			.col-lg-3.col-sm-4.col-xs-12
				.vista
					=image_tag "icono-perfil.png" , class: "img-amigo"
					%p.titulo-amigo-vista
						=ami.nombre
					.mascara
					.contenido
						%b Nombre
						=ami.nombre
						%br
						%b Puntuación:
						=ami.puntuacion
						%br
						%b Entregas Exitosas:
						=ami.solicitud(estado_solicitud_id:"REALIZADA").count
						%br
						%b
							=link_to "Ver Perfil", {controller:"usuarios", action:"perfil", id: ami.id}

						-if @usuario.id == session[:id]
							%br
							%br
							=link_to 'Eliminar Amigo',{controller:"usuarios", action:"eliminar_amigo",amigo_id:ami.id},data:{confirm: "¿Está seguro que desea eliminar este amigo?"}, class:"glyphicon glyphicon-trash btn btn-default btn-block"
	-else
		.col-xs-6.col-xs-offset-3
			%h3 El usuario no ha invitado amigos

	#paginacion
		= will_paginate @misamigos,  previous_label: "Anterior", next_label: "Siguiente"
