%ol.breadcrumb.padding-breadcrumb
	%li
		=link_to "Inicio", {controller:"escritorio",action:"inicio"}
	%li
		=link_to "Perfil", {controller:"usuarios", action:"perfil", id:session[:id]}
	%li.active
		=link_to "Mis Amigos"
%br

.padding-tabs
	%ul.nav.nav-pills.lista-categorias-libros
		%li
			=link_to "Solicitudes que recibió",{controller:"usuarios",action:"misamigos", id: @usuario.id}
		%li.active
			%a{href:"#"} 
				Solicitudes que envió

	%br
	-if @amigosenv!=[]
		-@amigosenv.each do |ami|
			.col-lg-3.col-sm-4.col-xs-12
				.vista
					=image_tag "icono-perfil.png"
					%p.titulo-libro-vista
						=ami.nombre
					.mascara
					.contenido
						%b Nombre
						=ami.nombre
						%br
						%b Puntuación:
						=ami.puntuacion
						%br
						%b Entregas Exitosas:
						=ami.solicitud(estado_solicitud_id:"REALIZADA").count
						%br
						%b
							=link_to "Ver Perfil", {controller:"usuarios", action:"perfil", id: ami.id}

						-if @usuario.id == session[:id]
							%br
							%br
							=link_to 'Eliminar Amigo',{controller:"usuarios", action:"eliminar_amigo",amigo_id:ami.amigo_id},data:{confirm: "¿Está seguro que desea eliminar este amigo?"}, class:"glyphicon glyphicon-trash btn btn-default btn-block"
	-else
		.col-xs-6.col-xs-offset-3
			%h3 El usuario no ha invitado amigos

	#paginacion
		= will_paginate @amigue,  previous_label: "Anterior", next_label: "Siguiente"