%ol.breadcrumb.padding-breadcrumb
	%li
		=link_to "Inicio", {controller:"escritorio",action:"inicio"}
	%li
		=link_to "Perfil", {controller:"usuarios", action:"perfil", id:session[:id]}
	%li.active
		=link_to "Mis Amigos"
%br

.padding-tabs
	%ul.nav.nav-pills.lista-categorias-libros
		%li.active
			%a{href:"#"} 
				Solicitudes que recibió
		%li
			=link_to "Solicitudes que envió",{controller:"usuarios",action:"misamigos_enviados", id: @usuario.id}
	%br

	-if @amigosrec.count>0
		-@amigosrec.each do |ami|
			.col-lg-3.col-sm-4.col-xs-12	
				.vista
					=image_tag "icono-perfil.png"
					%p.titulo-libro-vista
						=ami.usuario.nombre
					.mascara
					.contenido
						%b Nombre
						=ami.usuario.nombre
						%br
						%b Puntuación:
						=ami.usuario.puntuacion
						%br
						%b Entregas Exitosas:
						=ami.usuario.solicitud(estado_solicitud_id:"REALIZADA").count
						%br
						%b
							=link_to "Ver Perfil", {controller:"usuarios", action:"perfil", id: ami.amigo_id}

						-if @usuario.id == session[:id]
							%br
							%br
							=link_to 'Eliminar Amigo',{controller:"usuarios", action:"eliminar_amigo",amigo_id:ami.amigo_id},data:{confirm: "¿Está seguro que desea eliminar este amigo?"}, class:"glyphicon glyphicon-trash btn btn-default btn-block"
	-else
		.col-xs-6.col-xs-offset-3
			%h3 El usuario no ha recibido invitaciones de amigos

	#paginacion
	= will_paginate @amigosrec,  previous_label: "Anterior", next_label: "Siguiente"
