%ol.breadcrumb.padding-breadcrumb
	%li
		=link_to "Inicio", {controller:"escritorio",action:"inicio"}
	%li
		=link_to "Perfil", {controller:"usuarios", action:"perfil", id:session[:id]}
	%li.active
		= @usuario.nombre

%br

.row 
	.col-xs-3.col-sm-3.col-sm-offset-1
		

		= image_tag "icono-perfil.png", class: "img-circle", id:"imagen-perfil"
	.col-xs-9.col-sm-7#informacion-perfil 
		%p.texto-perfil
			=@usuario.nombre
		-if @es_amigo==nil
			-if @sol==nil
				=form_tag({controller: "usuarios", action: "agregar_amigo"}) do
					%input{type:"hidden", name:"amigo_id", value:@usuario.id}
					%button{type:"submit", class:"btn btn-default"}
						%span.glyphicon.glyphicon-plus
							Agregar como amigo
			%br
			%ul#lista-perfil
				%li
					%b Puntos:
					= @usuario.puntuacion
		-else
			%ul#lista-perfil
				%li
					%b Puntos:
					= @usuario.puntuacion
				%li
					= link_to "Lista de deseos",{controller:"lista_de_deseos", action:"lista",id:@usuario.id},class:"link"
				%li
					= link_to "Historial de solicitudes",{controller:"usuarios", action:"historial",id:@usuario.id},class:"link"
				%li
					=link_to "Grupos de lectura propios", {controller:"grupo_de_lectura",action:"grupos_propios",id:@usuario.id}, class:"link"

#parallax-perfil{ "data-speed"=>"4", "data-type"=>"background"}
	.row
		.col-xs-4.col-sm-3.col-sm-offset-1
			=image_tag "amigos-icono.png", class:"zoom"
			%br
			%a{href:"/libroteca/usuarios/mis_amigos/#{@usuario.id}"}
				= @amigos.count
				%br
				Amigos
		.col-xs-4.col-sm-3
			%a{href:"/libroteca/libros/mislibros/#{@usuario.id}"}
				=image_tag "libros-icono.png",class:"zoom"
			%br
		
			%a{href:"/libroteca/libros/mislibros/#{@usuario.id}"}
				= @usuario.libro_usuario.count
				%br
				Libros
		.col-xs-4.col-sm-3
			=image_tag "entregas-icono.png", class:"zoom"
			%br
			%a{href:"#"}
				= @usuario.solicitud(estado_solicitud_id:'REALIZADA').size()
				%br
				Entregas exitosas

-if @es_amigo
	.row
		%center.texto-perfil
			Noticias

	.feed-noticias
		=paginador_de_noticias (@noticias)


