%ol.breadcrumb.padding-breadcrumb
	%li
		=link_to "Inicio", {controller:"escritorio",action:"inicio"}
	%li
		=link_to "Perfil", {controller:"usuarios", action:"perfil", id:session[:id]}
	%li
		=link_to "Solicitudes"
	%li.active
		=link_to "Solicitudes de Amistad Recibidas"
%br

-if @solicitudes.count== 0
	.col-xs-6.col-xs-offset-3
		%h3 Usted no tiene solicitudes de amistad recibidas
-@solicitudes.each do |sol|
	.col-lg-3.col-sm-4.col-xs-12
		.vista
			=image_tag "icono-perfil.png" , class: "img-amigo"
			%p.titulo-amigo-vista
				=sol.usuario.nombre.capitalize
			.mascara
			.contenido
				%b Nombre
				=sol.usuario.nombre.capitalize
				%br
				%b Puntuación:
				=sol.usuario.puntuacion
				%br
				%b Entregas Exitosas:
				=sol.usuario.solicitud(estado_solicitud_id:"REALIZADA").count
				%br
				%b
					=link_to "Ver Perfil", {controller:"usuarios", action:"perfil", id: sol.amigo_id}
				%ul.botones-editar-perfil
					%li
						=form_tag({controller: "usuarios", action: "aceptar_amigo"}) do
							%input{type:"hidden", name:"amigo_id", value:sol.amigo_id}
							%button{type:"submit", class:"btn btn-default"}
								%span.glyphicon.glyphicon-ok	
					%li
						=link_to '',{controller:"usuarios", action:"rechazar_amigo",amigo_id:sol.amigo_id},data:{confirm: "¿Está seguro que desea rechazar esta solicitud de amistad?"}, class:"glyphicon glyphicon-remove btn btn-default"
	
