%ol.breadcrumb.padding-breadcrumb
	%li
		=link_to "Inicio", {controller:"escritorio",action:"inicio"}
	%li
		=link_to "Perfil", {controller:"usuarios", action:"perfil", id:session[:id]}
	%li
		=link_to "Solicitudes"
	%li.active
		=link_to "Solicitudes de Amistad Enviadas"
%br

-if @solicitudes.count== 0
	.col-xs-6.col-xs-offset-3
		%h3 Usted no tiene solicitudes de amistad enviadas
-@solicitudes.each_with_index do |sol,i|
	.col-lg-3.col-sm-4.col-xs-12	
		.vista

			=image_tag "icono-perfil.png" , class: "img-amigo"
			%p.titulo-amigo-vista
				=@usuarios[i].nombre.capitalize
			.mascara
			.contenido
				%b Nombre
				=@usuarios[i].nombre.capitalize
				%br
				%b Puntuación:
				=@usuarios[i].puntuacion
				%br
				%b Entregas Exitosas:
				=@usuarios[i].solicitud(estado_solicitud_id:"REALIZADA").count
				%br
				%b
					=link_to "Ver Perfil", {controller:"usuarios", action:"perfil", id: sol.usuario_id}
				%br
				=link_to 'Cancelar Solicitud',{controller:"usuarios", action:"cancelar_amigo",amigo_id:sol.usuario_id},data:{confirm: "¿Está seguro que desea cancelar esta solicitud de amistad?"}, class:"glyphicon glyphicon-remove btn btn-default"
	
