%ol.breadcrumb.padding-breadcrumb
	%li
		=link_to "Inicio", {controller:"escritorio",action:"inicio"}
	%li
		=link_to "Perfil"
	%li.active
		Editar Perfil

.row

	.col-xs-12.padding-editar

		.form-group
			=editable_texto_usuario "Nombre", @usuario.nombre, :nombre, @usuario.id,nil

		.form-group
			=editable_texto_usuario "Correo Electrónico", @usuario.email, :email, @usuario.id,nil
		.form-group
			.visible
				%b.subtitulo
					Contraseña
				%p{"data-toggle"=>"modal", "data-target"=>"#myModalCambiarContrasena", href:"#"}
					****************
					%span.editar.glyphicon.glyphicon-pencil

		.form-group
			=editable_texto_usuario "Teléfono", @usuario.telefono, :telefono, @usuario.id,nil

		.form-group
			=editable_texto_usuario "Dirección", @usuario.direccion, :direccion, @usuario.id,nil


		.form-group
			=editable_texto_usuario "Configuración de Notificaciones", @usuario.tipo_configuracion.descripcion, :tipo_configuracion_id, @usuario.id, @tipo_configuracion

		.form-group
			%div{class: "visible intereses"}
				%p.subtitulo
					%strong Intereses
					%span.editar.glyphicon.glyphicon-pencil
				%p
					%ul
						-@intereses.each do |inte|
							-if inte != ""
								%li
									=inte
					

			%div{class: "novisibleintereses", style:"display:none"}
				%b.subtitulo
					Intereses
				=form_tag({controller: "usuarios", action: "editar_intereses"}) do
					.checkbox
						%label
							.row
								.col-lg-3.col-md-3.col-xs-3
									%input{type:"checkbox", name:"ciencias"} Ciencias Naturales
									%br
									%input{type:"checkbox", name:"literatura"} Lengua y Literatura
									%br
									%input{type:"checkbox", name:"matematica"} Matemáticas
								.col-lg-3.col-md-3.col-xs-3
									%input{type:"checkbox", name:"sociales"} Ciencias Sociales
									%br
									%input{type:"checkbox", name:"historia"} Historia
									%input{type:"checkbox", name:"geografia"} Geografía
								.col-lg-3.col-md-3.col-xs-3
									%input{type:"checkbox", name:"fisica"} Física
									%br
									%input{type:"checkbox", name:"quimica"} Química
									%br
									%input{type:"checkbox", name:"ingles"} Inglés
									%br
									%input{type:"checkbox", name:"computacion"} Computación
								.col-lg-3.col-md-3.col-xs-3
									%input{type:"checkbox", name:"otro", id:"otrof"} Otro

					=submit_tag "Cambiar" ,class: "btn btn-default btn-lg btn-block"


%div.modal.fade.bs-example-modal-sm#myModalCambiarContrasena{ tabindex:"-1", role:"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
	%div.modal-dialog
		%div.modal-content
			%div.modal-header
				%button{ type:"button", class:"close", "data-dismiss"=>"modal", "aria-label"=>"Close"}
					%span{ "aria-hidden"=>"true"}
						&times;
				%h4.modal-title Cambiar Contraseña
  
			%div.modal-body
				=form_tag({controller: "usuarios", action: "actualizar_clave"}, id:"CambiarClaveUsuario") do

					-if flash[:mensaje_clave]
						.alert.alert-danger{ role:"alert"}
							=flash[:mensaje_clave]
					.form-group
						%b Contraseña actual
						%input{ type:"password", name:"clave_anterior", class:"form-control"}
					.form-group
						%b Nueva contraseña
						%input{ type:"password", name:"clave_nueva", class:"form-control"}
					.form-group
						%b Repita su nueva contraseña
						%input{ type:"password", name:"clave_repetida", class:"form-control"}
					
					=submit_tag "Cambiar" ,class: "btn btn-default btn-lg btn-block"

:javascript
	$( ".intereses" ).click( function(){	
		$( ".intereses" ).hide( "fast" );
		$(".novisibleintereses" ).show("slow");	  	
	});
	$( ".picture" ).click( function(){	
		$( ".picture" ).hide( "fast" );
		$(".novisiblepicture" ).show("slow");	  	
	});

