%ol.breadcrumb.padding-breadcrumb
	%li
		=link_to "Inicio", {controller:"escritorio",action:"inicio"}
	%li
		=link_to "Perfil"
	%li.active
		=link_to "Buscar amigos"

.row
	.col-xs-6.col-xs-offset-3
		%center
			%h3 ¡Busca a tus conocidos en Libroteca!
		%br
		=form_tag({controller: "usuarios", action: "buscar_amigos"}, id:"BuscarAmigos") do
			.form-group
				%b Correo Electrónico o Nombre 
				%input{type:"text", name:"amigo", class:"form-control", require:true}		
			= submit_tag "Buscar", class: "btn btn-default btn-lg btn-block"

#padding-tabs-buscar-amigos
	
			
