
if (<%=@error%>){

	$("#error-subcategoria").html("La categoría ya existe, por favor, verifique e inténtelo nuevamente");
}else{
    <%if @categoria == "1"%>
    	$("#subcategoriae").append("<option value='<%=@nuevo.id%>'><%=@nuevo.descripcion%></option>");
    <%else%>

    	$("#subcategoriau").append("<option value='<%=@nuevo.id%>'><%=@nuevo.descripcion%></option>");
    <%end%>
    $("#mensaje_categoria").html("<div class='alert alert-success' role='alert'> La subcategoría fue agregada exitosamente</div>");
	$("#myModalAgregarCategoria").modal("hide");
}
