if( $("#isbn").val() ) {
	$("#no_oculto").hide("fast");
	$("#isbn").attr("required", false);
	$("#oculto").show("slow");
	$("#isbn2").val(<%=@isbn%>);
	$("#lista-deseos").val('<%=@lista_deseos%>');

	<% if @libro %>
		<% if @libro.lista_deseo == false %>
			$("#titulo").val('<%=@libro.titulo.to_s%>');
			$("#titulo").attr("disabled", true);
			$("#ano").val('<%=@libro.ano.to_s%>');
			$("#ano").attr("disabled", true);
			$("#editorial").val('<%=@libro.editorial.to_s%>');
			$("#editorial").attr("disabled", true);
			$("#autor").val('<%=@autor.nombre.to_s%>');
			$("#autor").attr("disabled", true);
			$("#agregar_aut").hide("fast");
			$("#categorias").hide("fast");
		<%else%>
			$("#titulo").val('');
			$("#ano").val('');
			$("#editorial").val('');
			$("#autor").val('');
			$(".requerido").attr("required", true);
		<%end%>
	<%else%>
		$("#titulo").val('');
		$("#ano").val('');
		$("#editorial").val('');
		$("#autor").val('');
		$(".requerido").attr("required", true);
	<%end%>
}