<% if @venta==false %>
	$(".precio<%=@identificador%>").hide("fast");
	$(".novisibleprecio<%=@identificador%>").hide("fast");
<%else%>
	$(".novisibleprecio<%=@identificador%>").show("slow");
	$(".precio<%=@identificador%>").hide("fast");
<%end%>

$(".novisible<%=@campo%><%=@identificador%>" ).hide( "fast" );
$(".<%=@campo%><%=@identificador%> p").html("<%= @texto %> <span class='editar glyphicon glyphicon-pencil'></span>");
$( ".<%=@campo%><%=@identificador%>" ).show("slow");
$("#tipo_noticia_id").attr("value","EDITL");
$("#noticia").attr("value","edito la informacion del libro: ");
$("#generador_noticia_id").attr("value","<%= @generador_noticia_id %>");
$("#estilo-noticia").html("<%= @descripcion %>");
$("#myModalNoticiasPerfil").modal("show");
