%ol.breadcrumb.padding-breadcrumb
	%li
		=link_to "Inicio", {controller:"escritorio",action:"inicio"}
	%li
		=link_to "Libros"
	%li
		=link_to "Mis Libros", {controller:"libros",action:"mislibros", id: session[:id]}
	%li.active
		=link_to "Editar Libro"
%br

.row.padding-tabs
	.col-sm-6.col-xs-12
		.form-group
			%b ISBN
			%p
				=@libro.libro.isbn
		.form-group
			%b.subtitulo
				Nombre del Libro
			%p
				=@libro.libro.titulo
		.form-group
			%b.subtitulo
				Año de Publicación
			%p
				=@libro.libro.ano
		.form-group
			%b.subtitulo
				Categoría
			%p
				=@libro.categoria.descripcion
		.form-group
			%b.subtitulo
				Subcategoría
			%p
				=@libro.subcategoria.descripcion
		.form-group
			%b Autores
			%ul
				-@libro.libro.autor.each do |a|
					%li #{a.nombre}

	.col-sm-6.col-xs-12
		.form-group
			=editable_texto_libro "Precio", @libro.precio,:precio, @libro.libro_id,nil,@modal

		.form-group
			=editable_texto_libro "Modalidad", @libro.tipo_modalidad.descripcion,:modalidad, @libro.libro_id,@modalidades,nil

		.form-group
			=editable_texto_libro "Condición", @libro.tipo_condicion.descripcion,:condicion, @libro.libro_id,@condiciones,nil

	
