%ol.breadcrumb.padding-breadcrumb
	%li
		=link_to "Inicio", {controller:"escritorio",action:"inicio"}
	%li
		=link_to "Libros"
	%li
		=link_to "Mis Libros", {controller:"libros",action:"mislibros", id: session[:id]}
	%li.active
		=link_to "Agregar Libro"
%br

.row
	.col-xs-6.col-xs-offset-3
		%h4 Por favor introduzca los diez o trece dígitos del ISBN del libro que desea agregar
		%br
		#no_oculto
			=form_tag({controller: "libros", action: "buscar_isbn"}, id:"buscar_isbnn" ,remote: true) do
				.form-group
					%b ISBN (*)
					%input{type:"text","data-autocomplete"=>"autocomplete_libro_isbn", id:"isbn", name:"isbn", class:"form-control", required: "true"}
				Los datos marcados con (*) son obligatorios
				%br
				= submit_tag "Enviar", class: "btn btn-default btn-lg btn-block"

		#oculto{class: "no_visible", style:"display:none"}
			=form_tag({controller: "libros", action: "crear_libro"}, id:"AgregarLibroNuevo") do
				%input{id:"cant_autor", type:"hidden", name:"cant_autor", value:"0"}
				%input{id:"isbn2", type:"hidden", name:"isbn2"}
				%input{id:"lista-deseos" ,type:"hidden",name:"lista_deseos"}
				.form-group
					%b Título (*)
					%input{type:"text", id:"titulo", name:"titulo", class:"form-control requerido"}
				.form-group
					%b Año de Publicación (*)
					%input{type:"int", id:"ano", name:"ano", class:"form-control "}
				.form-group
					%b Editorial (*)
					%input{type:"text", id:"editorial", name:"editorial", class:"form-control requerido"}
				.form-group#autores-input
					%b Autores (*)
					%input{type:"text", id:"autor", name:"autor", class:"form-control requerido"}
					#agregar_aut
						%a.btn.btn-default
							%span.glyphicon.glyphicon-plus 
								Agregar otro autor
				#categorias
					.form-group
						%b Categoría (*)
						=select_tag "categoria", options_from_collection_for_select(@categorias, "id", "descripcion"), class:"form-control", id:"CambiarCategoria"
					.form-group
						#mensaje_categoria
						%b Subcategoría (*)
						.subcategoria-div
							=select_tag "subcategoriaEscolar", options_from_collection_for_select(@subcategoriasEscolar, "id", "descripcion"), class:"form-control", id:"subcategoriae"
						.subcategoria-div{style:"display:none;"}
							=select_tag "subcategoriaUniversitario", options_from_collection_for_select(@subcategoriasUniversitario, "id", "descripcion"), class:"form-control", id:"subcategoriau"
						
						%a{"data-toggle"=>"modal", "data-target"=>"#myModalAgregarCategoria", href:"#"}
							%span.glyphicon.glyphicon-plus 
							Agregar nueva subcategoría	

				.form-group
					%b Modalidad (*)
					=select_tag "modalidad", options_from_collection_for_select(@modalidades, "id", "descripcion"), class:"form-control", id:"selmodalidad"
				%div#anoculto
					.form-group
						%label Año del Libro (*)
						%select{class:"form-control", name:"grado", id:"selectano"}
							%option{value:"Preescolar"}
								Preescolar
							%option{value:"1er grado"}
								1er Grado
							%option{value:"2do grado"}
								1do Grado
							%option{value:"3er grado"}
								3er Grado
							%option{value:"4to grado"}
								4to Grado
							%option{value:"5to grado"}
								5to Grado
							%option{value:"6to grado"}
								6to Grado
							%option{value:"7mo grado"}
								7mo Grado
							%option{value:"8vo grado"}
								8vo Grado
							%option{value:"9no grado"}
								9no Grado
							%option{value:"1er año Diversificado"}
								1er Año Ciclo Diversificado
							%option{value:"2do año Diversificado"}
								2do Año Ciclo Diversificado
							%option{value:"Novela"}
								Novelas o Cuentos

				%div#precioculto{style:"display:none"}
					.form-group
						%label Precio (*)
						%input{id:"inputpre", type:"text", value:'0.0', name:"precio", class:"form-control"}
					
				.form-group
					%b Condición (*)
					=select_tag "condicion", options_from_collection_for_select(@condiciones, "id", "descripcion"), class:"form-control"
				Los datos marcados con (*) son obligatorios
				%br
				= submit_tag "Guardar", class: "btn btn-default btn-lg btn-block"

%div.modal.fade.bs-example-modal-sm#myModalAgregarCategoria{ tabindex:"-1", role:"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
	%div.modal-dialog
		%div.modal-content
			%div.modal-header
				%button{ type:"button", class:"close", "data-dismiss"=>"modal", "aria-label"=>"Close"}
					%span{ "aria-hidden"=>"true"}
						&times;
				%h4.modal-title Agregar subcategoría
  
			%div.modal-body
				=form_tag({controller: "libros", action: "agregar_subcategoria"}, remote:true) do
					.form-group
						%label
							Subcategoría (*)
						%input{type:"text",name:"subcategoria",class:"form-control"}
						#error-subcategoria
					.form-group
						%label
							Categoría a la que pertenece (*)
						=select_tag "categoria", options_from_collection_for_select(@categorias, "id", "descripcion"), class:"form-control"
					Los datos marcados con (*) son obligatorios
					%br
					=submit_tag "Agregar", class:"btn btn-default"

:javascript
	$( "#CambiarCategoria" ).change(function() {
		$( ".subcategoria-div" ).toggle();
	});

