%ol.breadcrumb.padding-breadcrumb
	%li
		=link_to "Inicio",{controller:"escritorio",action:"inicio"}
	%li
		= link_to "Libros Generales"
	%li.active
		-if @categoria == 1
			=link_to "Escolares"
		-else
			= link_to "Universitarios"


.padding-tabs
	%ul.nav.nav-pills.lista-categorias-libros
		%li.active
			%a{href:"#"} 
				Todo
		%li
			=link_to "Compra",{controller:"libros",action:"listar_libros_compra", id: @categoria}

		%li
			=link_to "Donación",{controller:"libros",action:"listar_libros_donacion", id: @categoria}			
		%li
			=link_to "Intercambio",{controller:"libros",action:"listar_libros_intercambio", id: @categoria}

	
	=form_tag({controller: "libros", action: "listar_libros_completos"},class:"form-inline") do
		%input{ type:"hidden", name: "id", value:"#{@categoria}"}
		.form-group
			%label Subcategoría
			%select{name:"subcategoria_id", class:"form-control"}
				%option{value:"todos"} Todo
				-@subcategoria.each do |sub|
					%option{value:"#{sub.id}"}
						= sub.descripcion

		=submit_tag "Buscar" ,class: "btn btn-default"

	=listar_subcategoria_libros @libros_todos, "NIL", @subcategoria
	#paginacion
		= will_paginate @libros_todos,  previous_label: "Anterior", next_label: "Siguiente"
		
		
