%ol.breadcrumb.padding-breadcrumb
	%li
		=link_to "Inicio", {controller:"escritorio",action:"inicio"}
	-if @usuario_libro.id.to_i == session[:id].to_i
		%li
			=link_to "Libros"
		%li.active
			=link_to "Mis Libros", {controller:"libros",action:"mislibros", id: session[:id]}
	-else
		%li
			=link_to "Perfil",{controller:"usuario",action:"perfil",id:@usuario_libro.id}
		%li.active
			=link_to "Libros de #{@usuario_libro.nombre}"
%br

-if @libros.count==0
	.col-xs-6.col-xs-offset-3
		%h3 Este usuario no ha agregado ningún libro
-@libros.each_with_index do |lib,i|
	.col-lg-3.col-sm-4.col-xs-12	
		.vista
			=portada_de_libro lib.libro.titulo
			.mascara
			.contenido
				%b Título:
				=lib.libro.titulo
				%br
				-if lib.libro.categoria_id==1
					%b Grado:
					=lib.libro.grado
					%br
				%b Usuario:
				=link_to "#{lib.usuario.nombre}", {controller:"usuarios", action:"perfil", id:lib.usuario.id}, class:"link"
				%br
				%b Modalidad:
				=lib.tipo_modalidad.descripcion
				%br
				%b Condición:
				=lib.tipo_condicion.descripcion
				-if @usuario_libro.id.to_i == session[:id].to_i
					%ul.botones-editar-perfil
						%li
							=form_tag({controller: "libros", action: "edit_libro"}) do
								%input{type:"hidden", name:"libro_id", value:lib.libro.id}
								%button{type:"submit", class:"btn btn-editar-libro"}
									%span.glyphicon.glyphicon-pencil	
						%li
							=link_to '',{controller:"libros", action:"eliminar_libro",libro_id:lib.libro.id},data:{confirm: "¿Está seguro que desea eliminar este libro?"}, class:"glyphicon glyphicon-trash btn btn-editar-libro"
				-else
					%br
					=link_to "Ver más", {controller:"libros",action:"ver_libro",id:lib.libro.id, usuario_id: lib.usuario.id}
	
#paginacion
	= will_paginate @libros,  previous_label: "Anterior", next_label: "Siguiente"
	
