%ol.breadcrumb.padding-breadcrumb
	%li
		=link_to "Inicio", {controller:"escritorio",action:"inicio"}
	%li
		=link_to "Libros generales"
	%li
		-if @libro.categoria_id.to_i == 1
			=link_to "Escolares", {controller:"libros",action:"listar_libros_completos",id:@libro.categoria_id}
		-else
			=link_to "Universitarios", {controller:"libros",action:"listar_libros_completos",id:@libro.categoria_id}
	%li.active
		=@libro.libro.titulo
.padding-tabs
	.row
		.col-xs-12.col-sm-6
			%h3 Datos de libro
			.form-group
				%B ISBN:
				=@libro.libro.isbn
			.form-group
				%b Título:
				=@libro.libro.titulo
			.form-group
				%b Año:
				=@libro.libro.ano
			-if @libro.libro.categoria_id==1
				.form-group
					%b Grado:
					=@libro.libro.grado
					%br
			.form-group
				%b Editorial:
				=@libro.libro.editorial
			.form-group
				%b Categoría:
				=@libro.categoria.descripcion
			.form-group
				%b Subcategoría:
				=@libro.subcategoria.descripcion
			.form-group
				%b Modalidad:
				=@libro.tipo_modalidad.descripcion
			-if @libro.tipo_modalidad_id=='VEN'
				.form-group
					%b Precio:
					=@libro.precio
			.form-group
				%b Condición:
				=@libro.tipo_condicion.descripcion
			.form-group
				%b Autores:
				%ul
					-@libro.libro.autor.each do |a|
						%li #{a.nombre}


		.col-xs-12.col-sm-6
			%h3 Datos del usuario
			.form-group
				%b Nombre:
				=link_to "#{@libro.usuario.nombre}",{controller:"usuarios",action:"perfil",id:@libro.usuario.id},class:"link"
				
					
			


-if @libro.usuario_id != session[:id]
	.row
		.col-xs-6.col-xs-offset-3
			=link_to "Solicitar",{controller:"libros",action:"solicitar_libro",libro_id:@libro.libro_id, usuario_id:@libro.usuario_id} , class:"btn btn-default btn-block"
		 
			
			

