@import url("estilos2.css");

@import url(http://fonts.googleapis.com/css?family=Muli);

/*
morado: #523551;
azul : #44A78A;
*/
.carousel-inner{max-height: 312px !important}
.link-eliminar{color: rgb(86, 86, 86);font-size: 13px;}
.texto-informacion{text-align: justify;line-height: 26px;padding: 40px 30px !important;}

.panel-group .panel{margin-bottom:12px;}
.panel-title > a{font-weight: 900;font-size:16px;}

.fondo-morado{background-color:#44A78A  !important;color:white !important; text-align:center !important;}
.fondo-azul{background-color:rgb(179, 176, 179) !important;color:white !important; text-align:center !important;}

.morado{ color: rgb(68, 27, 67);}
.azul{color:#44A78A;}
.negro{color:black;}

#CrearGrupoLectura > .has-feedback label ~ .form-control-feedback {
    top: 10px;
}

span.glyphicon * {font-family: "Muli",sans-serif !important} 

.ui-menu .ui-menu-item:hover{border:0px solid white !important;background:white!important;color:#523551 !important;}
.ui-menu{z-index:9000 !important;position:relative !important;}
.ui-menu .ui-menu-item {
background: white;
padding: 7px 0px;
font-family: "Muli";
border: 1px solid #ccc;
border-top-color: #d9d9d9;
box-shadow: 0 2px 4px rgba(0,0,0,0.2);
-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);}

/******************* ESTILOS GENERALES ******************/

.input-group-addon{padding:0px !important;}
.glyphicon.glyphicon-search{border: 1px solid rgb(238, 238, 238) !important; padding: 6px 12px;background: rgb(238, 238, 238) !important;}
.row{margin-right: 0px !important;}

p{font-family: "Muli",sans-serif;}

body,html{margin:0px !important;font-family: "Muli",sans-serif !important;font-size:16px !important;}
body{position:relative;}
.container-fluid{padding-right: 0px !important; padding-left:0px !important;}
.mensajes{
  position: absolute;
  z-index: 2;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -97%);}

.mensajes-interno{ position: absolute; z-index: 2; }

.badge.notificacion{
  background-color: #EB1414 !important;
  border-radius: 60px !important;
  padding: 5px 7px !important;
  float:right;
  margin-top:2px;}

.link-ver-mas{
  font-size: 13px;
  background: rgb(68, 167, 138);
  color: white;
  padding: 1px 5px;
  margin-left:8px;
}
.link-ver-mas:hover{
  background: rgb(82, 53, 81);
  color:white;
  text-decoration: none;
}

#lista-notificacion {list-style: none;}
#lista-notificacion li {border-bottom: 1px solid rgba(211, 210, 210, 0.99); padding: 10px 0px;}
.padding-bottom-inicio{padding-bottom:60px;}
#como-funciona{
  color: rgb(68, 167, 138);
  font-size: 30px;
  font-weight: bolder;
  padding-bottom:40px;
  font-family:"Muli",sans-serif;}

/************************ alters **+++++************/

.relativo{position:relative;}


/******************** HEADER ************************/

.padding-breadcrumb .active a { color: #44A78A !important; font-weight: bolder;}
.navbar-nav > li > a{font-family:"Muli",sans-serif;}
.navbar-nav > li > a:hover{border-bottom: 8px solid rgb(68, 27, 67);}
#logo-header{padding:10px;}

.navbar-toggle {
padding: 14px 15px !important;
margin-top: 31px !important;
margin-right: 43px !important;
background-color:#523551 !important;}

.navbar-libroteca{
  webkit-box-shadow: 1px 1px 7px 1px rgba(102, 98, 98, 0.66);
  -moz-box-shadow: 1px 1px 7px 1px rgba(102, 98, 98, 0.66);
  box-shadow: 1px 1px 7px 1px rgba(102, 98, 98, 0.66);
  background:rgba(255,255,255,0.8) !important;
}
.alineacion-menu-principal li a, .nav li a{
  color:#523551;
  font-weight: bolder;
  font-size:15px;
}

.alineacion-menu-principal li a:hover, .nav li a{
  background:none !important;
  color:#523551 !important;
  font-size:17px;
}


/********************* PRINCIPAL ***********************/
.numero{
  width: 24px;
  height: 24px;
  padding: 2px 7px;
  background: rgb(7, 150, 122);
  border-radius: 238px;
  color: white;
  font-weight: bolder;
  float: left;
}

.imagen-infografia{
  left: 25%;
  right: 25%;
  position: relative;
}

.texto-infografia{padding-left:30px;}
#infografia{padding:30px 0px;}

/********************* INTERNO ***********************/
#panelinterno
{background: #523551; color:white; margin-top:12px;}

.logointerno{display: table; margin: 0 auto;padding-bottom:30px !important;}
.padding-breadcrumb li a{color:#523551 !important;}
.padding-breadcrumb li a:hover{color:gray !important;text-decoration: none !important;}

/********************MODAL **************************/

.modal-content{border-radius:0px !important;}
.modal-header{color: white;
background: #44a78a;
font-weight: bolder;}

/********************* FOOTER SIEMPRE ABAJO  *************/
#contenedor{ display: flex; flex-direction: column; min-height: 100vh; color: #fff;}
#contenido { flex: 1; color:black; padding-top:106px;margin:0px;}
footer {background: #523551; min-height: 5rem;color:white;margin-top: 20px;}

/******************** MENU **************************/


#sidebar,
#sidebar ul,
#sidebar ul li,
#sidebar ul li a {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  position: relative;
  font-family:"Muli",sans-serif !important:;
}

#sidebar ul ul {
  display: none;
}
.align-right {
  float: right;
}
#sidebar > ul > li > a {
  padding: 15px 20px;
  border-top: 2px solid #9C9C9C;
  cursor: pointer;
  color: #707070;
  width: 100%;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  background: #ffffff;
}

#sidebar ul li:last-child {border-bottom:2px solid #9c9c9c;}
#sidebar > ul > li > a:hover,
#sidebar > ul > li.active > a,
#sidebar > ul > li.open > a {
  color: #523551;
  background: #44a78a;
);
}
#sidebar > ul > li.open > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #707070;
}

.holder {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.holder::after,
.holder::before {
  display: block;
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  right: 20px;
  z-index: 10;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.holder::after {
  top: 17px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}

.holder::before {
  top: 18px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-color: inherit;
  border-left-color: inherit;
}
#sidebar ul ul li a {
  cursor: pointer;
border-bottom: 1px solid #ABABAB;
padding: 10px 20px;
z-index: 1;
text-decoration: none;
font-size: 13px;
color: rgb(82, 80, 80);
background: #D9D9D9;
}
#sidebar ul ul li:hover > a,
#sidebar ul ul li.open > a,
#sidebar ul ul li.active > a {
  background: #424852;
  color: #ffffff;
}

#sidebar ul ul ul li a {
  padding-left: 30px;
}
#sidebar > ul > li > ul > li:last-child > a,
#sidebar > ul > li > ul > li.last > a {
  border-bottom: 0;
}
#sidebar > ul > li > ul > li.open:last-child > a,
#sidebar > ul > li > ul > li.last.open > a {
  border-bottom: 1px solid #32373e;
}
#sidebar > ul > li > ul > li.open:last-child > ul > li:last-child > a {
  border-bottom: 0;
}

#sidebar ul ul li.has-sub > a::after {
  display: block;
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  right: 20px;
  z-index: 10;
  top: 11.5px;
  border-top: 2px solid #eeeeee;
  border-left: 2px solid #eeeeee;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}



#sidebar {
    position: absolute;
    background: white;
    height: 100%;
    box-sizing: border-box;
   -moz-box-sizing: border-box;
   webkit-box-shadow: 1px 1px 7px 1px rgba(102, 98, 98, 0.66);
  -moz-box-shadow: 1px 1px 7px 1px rgba(102, 98, 98, 0.66);
  box-shadow: 1px 1px 7px 1px rgba(102, 98, 98, 0.66);
  position: fixed;
overflow: hidden;
overflow-y:auto;
}

.navbar-toggle .icon-bar{background:white !important;}

/******* helper **********/
.visible p .editar{visibility: visible !important}
.visible:hover{ cursor: pointer; }
.visible:hover p .editar{
  visibility: visible !important;
  margin-left: 5px;
  color:rgb(97, 114, 145);}


/*********** parallax **************/
#parallax-perfil {
  min-height: 250px;
  width: 100%;
  padding: 60px 0;
  background: #523551;
  margin: 30px 0px;
  -webkit-box-shadow: inset -3px -2px 71px -10px rgba(0,0,0,0.7);
  -moz-box-shadow: inset -3px -2px 71px -10px rgba(0,0,0,0.7);
  box-shadow: inset -3px -2px 71px -10px rgba(0,0,0,0.7);
  color:white;
  text-align: center;
font-size: 20px;
}

#parallax-perfil div div a{color:white !important;}

#parallax-perfil div div a:hover{color: rgb(68, 167, 138)!important;text-decoration: none;}

.zoom{ 
  transition: 0.2s linear;
 -moz-transition: 0.2s linear;
 -webkit-transition: 0.2s linear; 
 -o-transition: 0.2s linear;}

.zoom:hover{
  transform : scale(1.3);
  -moz-transform : scale(1.3); 
  -webkit-transform : scale(1.3); 
  -o-transform : scale(1.3); 
  -ms-transform : scale(1.3); 
}

.link{
  color: #523551;
  font-weight: bold;
}

.link:hover{text-decoration: none;border-bottom: 3px solid #523551;color:#523551;}
.texto-perfil{
  font-size: 30px;
  color: #44A78A;
  text-transform: capitalize;
  font-weight: 900;
}
.texto-comentarios{margin-top: 50px;font-size: 20px;}

.feed-noticias{
    min-height: 250px;
  width: 100%;
  padding: 40px 0;
  background: rgb(220, 219, 219);
  margin: 30px 0px;
  -webkit-box-shadow: 1px 1px 30px -6px rgba(0,0,0,0.9);
  -moz-box-shadow: 1px 1px 30px -6px rgba(0,0,0,0.9);
  box-shadow: 1px 1px 30px -6px rgba(0,0,0,0.9);
  color:white;
  text-align: center;
}
 .feed-comentarios{
  min-height: 250px;
  width: 100%;
  padding: 40px 0;
  background: rgb(220, 219, 219);
  margin: 30px 0px;
  -webkit-box-shadow: 1px 1px 30px -6px rgba(0,0,0,0.9);
  -moz-box-shadow: 1px 1px 30px -6px rgba(0,0,0,0.9);
  box-shadow: 1px 1px 30px -6px rgba(0,0,0,0.9);
 }
 #lista-comentarios{list-style: none;}
 #lista-comentarios li hr{border-top: 1px solid rgb(145, 128, 143);}
 #imagen-comentario{width:100%;}
 .fecha{font-size:12px;}

#lista-perfil{list-style: none;}
#lista-perfil li {padding-bottom:10px;}


/************ mis libros ***********/
#autores-input input{margin-bottom:10px;}
.contenido{padding: 20px 5px 10px 5px;font-size:16px;}
.contenido a{ color: rgb(57, 50, 50); font-weight: bold;}
.vista, .vista-solo {
    width: 100%;
    height: 100%;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    padding: 10px 0px;
}


.vista .mascara, .vista .contenido {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity:0;
}
.vista .img-libro, .vista-solo img {
    display: block;
    /*position: relative;*/
     transition: all 0.3s ease-in-out; 
    width:170px;
    margin:0 auto;
    -webkit-box-shadow: 0px 0px 20px -2px rgba(122,116,122,1);
    -moz-box-shadow: 0px 0px 20px -2px rgba(122,116,122,1);
  box-shadow: 0px 0px 20px -2px rgba(122,116,122,1);
}

.vista .img-amigo{
  display: block;
    position: relative;
     transition: all 0.3s ease-in-out; 
    width:170px;
    margin:0 auto;
}
 

.vista .mascara {
    opacity: 0;
    background-color: rgb(230,230,230);
    transform: translateX(-500px);
    transition: all 0.4s ease-in;
    border-radius: 0;
}

.vista:hover .mascara { 
    transform: translateX(0px);
    opacity:1;
}
.vista:hover p{opacity: 0;}
.vista:hover .contenido{   opacity: 1; transition-delay: 0.4s;padding: 16px 12px;}
.vista:hover img    { 
    transform: translateX(500px);
    transition-delay: 0.1s;
}  

.titulo-libro-vista{
  text-transform: capitalize;
  padding: 0px 2px;
  font-weight: 900;
  position: absolute;
  width: 170px;
  top: 15px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.titulo-amigo-vista{
  text-transform: capitalize;
  background: rgb(187, 187, 187);
  width: 170px;
  margin: 0 auto;
  color: rgb(68, 27, 67);
  font-weight: 900;
}

.botones-editar-grupos{transform:translate(-9%,86%);-webkit-transform:translate(-9%,86%);-moz-transform:translate(-9%,86%);-o-transform:translate(-9%,86%);}
.contenido b{color:rgb(68, 27, 67);}
.botones-editar-perfil , .botoner-editar-grupos{width: 60%; margin: 0 auto; padding: 5px 0px !important;}
.botones-editar-perfil li, .botones-editar-grupos li {display:inline;}
.botones-editar-perfil li form , .botones-editar-grupos li form{display:inline !important;}
.btn-editar-libro{background-color: rgb(68, 167, 138); color: white;}

#paginacion{width: 100%; padding-left: 26px;}

.pagination a{color:#523551 !important;}
.pagination a:hover {border-bottom: 3px solid #523551 !important;color:#523551;text-decoration: none !important;}
.subcategoria-div:nth-child(2){display:none;}
#error-subcategoria{color:red;}
.form-control-feedback {
  line-height: 73px !important;
}

.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
color: #523551 !important;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
background-color: #523551 !important;
border-color: #523551 !important;
}

#estilo-noticia{
  text-align: center;
  font-style: italic;
  font-size: 17px;
  padding: 10px 0px;}

.feed-noticias ul{ list-style: none; }
.feed-noticias ul li{ color: rgb(59, 56, 56) !important;padding: 10px 0px; font-size:16px;}
.feed-noticias ul li a{ color: rgb(57, 50, 50); font-weight: bold;}


.botones-feed-de-noticias .previous_page , .botones-feed-de-noticias .next_page{
  font-size: 20px;
  font-weight: bolder;
  background: rgb(68, 167, 138);
  color: white !important;
  padding: 11px 13px 0px 11px;
  border-radius: 211px;
  margin-right: 20px;
}

.botones-feed-de-noticias a.previous_page:hover , .botones-feed-de-noticias a.next_page:hover{
   padding:21px 20px 6px 20px;
   text-decoration: none;
}

.bx-wrapper .bx-viewport{
  -moz-box-shadow: 0 0 5px white !important
  -webkit-box-shadow: 0 0 5px white !important;
  box-shadow: 0 0 5px white !important
}



.botones-feed-de-noticias .disabled{background: rgb(99, 97, 97) !important;}
.bx-wrapper .bx-next {
background: url(controls.png) no-repeat -43px -32px !important;
}

.bx-wrapper .bx-prev {
background: url(controls.png) no-repeat 0 -32px !important;
}

#parallax{
    background: url(parallax-libros.jpg) 50% 0 fixed;
    min-height: 400px;
    margin: 0 auto;
    width: 100%;
    padding: 100px 0;
}

/************** lista de libros completos **********/
.padding-tabs{padding: 0px 40px;}
#padding-tabs-buscar-amigos{padding: 40px;}
.lista-categorias-libros{border-bottom: 1px solid rgb(215, 211, 211); margin-bottom: 20px !important;}
.lista-categorias-libros li.active , .lista-categorias-libros li.active:hover {background: rgb(68, 167, 138); border-radius: 4px 4px 0 0;}
.lista-categorias-libros > li.active > a, .lista-categorias-libros li:hover a{color:white !important;}

.lista-categorias-libros li:hover {background: rgb(82, 53, 81); border-radius: 4px 4px 0px 0px;}

.cajamigos{
  width: 100%;
  border: 1px solid #ccc;
  height: 100px;
  padding:10px;
  overflow-y: auto;
  border-radius: 6px;
}

#texto-isb{padding-top:40px;}
#texto-isb p:nth-child(1){text-align: center;font-weight: 600}

.visible p .editar{visibility: visible !important}

