

@media (max-width: 479px) {
	#contenido-interno { flex: 1; color:black; padding-top:106px;margin:0px;}
	#imagen-perfil{width:92px;}
	.texto-perfil{margin-left:40px;}
	.bx-wrapper {margin: 0 auto 60px 20px !important;}
	.padding-editar{ padding-left: 70px !important; padding-top: 13px; }
	#lista-comentarios li hr { width: 91%;margin-right: 49px;}
	.vista:hover .contenido { line-height: 24px;}
	#imagen-comentario{display:none;}
	.ui-menu{width:95% !important;}

}

@media (min-width: 479px) and (max-width: 768px) {
	#contenido-interno { flex: 1; color:black; padding-top:106px;margin:0px;}
	#lista-comentarios li hr { width: 91%;margin-right: 49px;}
	#imagen-perfil{width: 148px;padding: 0px 10px;}
	.bx-wrapper {margin: 0 auto 60px 20px !important;}
	.padding-editar { padding-left: 70px !important; padding-top: 13px; }
	.vista:hover .contenido { line-height: 24px;}
	#lista-perfil{ margin-left: -40px !important;}
	#imagen-comentario{display:none;}
	.mensajes-interno{ left: 50%; transform: translate(-50%, 0%); }
	.ui-menu{width:95% !important;}
	
}

@media (min-width: 768px) and (max-width: 986px) {
	#contenido-interno { flex: 1; color:black; padding-top:106px;margin:0px;}
	.bx-wrapper {margin: 0 auto 60px 20px !important;}
	.padding-editar { padding-left: 70px !important; padding-top: 13px; }
	.vista:hover .contenido { line-height: 22px;}
	.editar{ visibility: visible; }
	.ui-menu{width:95% !important;}
	
}

@media (min-width: 986px) and (max-width: 1200px) {
	#contenido-interno { flex: 1; color:black; padding-top:0px;padding-left:192px !important;margin:0px;}
	.bx-wrapper {margin: 0 auto 60px 20px !important;}
	.navbar-nav > li > a {padding-bottom: 9px !important; }
	.padding-editar{padding-left: 70px !important; padding-top: 69px;}
	.vista:hover .contenido { line-height: 21px;}
	.editar{ visibility: hidden; }
	.ui-menu,#sidebar{width:188px;}
	


}

@media (min-width: 1200px) {
	#contenido-interno { flex: 1; color:black; padding-top:0px; padding-left:221px !important; margin:0px;}
	.navbar-nav > li > a {padding-bottom: 9px !important; }
	.padding-editar{padding-left: 70px !important; padding-top: 69px;}
	.vista:hover .contenido { line-height: 21px;}
	.editar{ visibility: hidden; }
	#sidebar{width:220px;}
	.ui-menu{width:220px !important;}
	
}

@media (min-width:768px){
	.mensajes-interno{ left: 50%; transform: translate(-50%, 0%); }
	 #lista-comentarios li hr{width: 79%;}
	#lista-perfil{margin-left: -40px !important;}
	.alineacion-menu-principal{
		float:right !important;
		margin-top: 51px !important;
		margin-right: -247px !important;}

	.navbar-form{margin-right:5px !important;}
	#buscador{
		padding: 20px 6px 20px 0px !important;
		border: 1px solid #CACACA !important;
		border-radius: 0px !important;
	}

	#buscador:focus{
		border:1px solid #523551 !important; 
		webkit-box-shadow: 1px 1px 7px 1px #523551;
		-moz-box-shadow: 1px 1px 7px 1px #523551;
		box-shadow: 1px 1px 7px 1px #523551;}

	.carousel-caption{font-size: 40px !important;
		font-weight: 600;
		text-shadow: 4px 4px 6px black !important;
		}
}

#slide1{bottom:1000px;}
#slide2{top:1000px;}

@media (max-width:768px){
	.carousel-caption{font-size: 25px !important;
		font-weight: 600;
		text-shadow: 4px 4px 6px black !important;
		}
	.editar{ visibility:visible; }
}
