%ol.breadcrumb.padding-breadcrumb
	%li
		=link_to "Inicio", {controller:"escritorio",action:"inicio"}
	%li.active
		=link_to "Notificaciones"

.padding-tabs
	-if @notificaciones_vistas.size()==0 
		.col-xs-6.col-xs-offset-3
			%h3 Usted no tiene notificaciones
	-else
		%ul#lista-notificacion
			-@notificaciones_vistas.each do |noti|
				%li
					-case noti.tipo_notificacion_id
						-when 'AMIGO'
							- @amigo = Usuario.find(noti.amigo_id)
							%span.glyphicons.glyphicons-user-add
								=link_to "#{@amigo.nombre}", {controller:"usuarios",action:"perfil",id:@amigo.id} , class:"link"
								aceptó tu solicitud de amistad
								=link_to "Ver más", {controller: "usuarios" , action: "mis_amigos", id: session[:id]}, class:"link-ver-mas"

						-when 'A-RECHAZADA'
							- @amigo = Usuario.find(noti.amigo_id)
							%span.glyphicons.glyphicons-user-remove
							=link_to "#{@amigo.nombre}", {controller:"usuarios",action:"perfil",id:@amigo.id} ,class:"link"
							rechazó tu solicitud de amistad

						-when 'COMENTARIO-L'
							%span.glyphicons.glyphicons-align-center
							- @amigo = Usuario.find(noti.amigo_id)
							=link_to "#{@amigo.nombre}", {controller:"usuarios",action:"perfil",id:@amigo.id} ,class:"link"
							comentó el grupo de lectura
							=link_to "#{noti.grupo_lectura.nombre}", {controller:"grupo_de_lectura", action:"grupo", id:noti.grupo_lectura.id}, class:"link"
							=link_to "Ver más",{controller:"grupo_de_lectura", action:"grupo", id:noti.grupo_lectura.id},class:"link-ver-mas"
						-when 'P-ACEPTADA'
							%span.glyphicons.glyphicons-log-book
							- @amigo = Usuario.find(noti.amigo_id)
							=link_to "#{@amigo.nombre}", {controller:"usuarios",action:"perfil",id:@amigo.id} ,class:"link"
							aceptó tu solicitud del libro
							= noti.libro.titulo

							=link_to "Ver más",  {controller:"solicitudes",action:"solicitudes_libros_confirmar"}, class:"link-ver-mas"

						-when 'P-RECHAZADA'
							%span.glyphicons.glyphicons-log-book
							- @amigo = Usuario.find(noti.amigo_id)
							=link_to "#{@amigo.nombre}", {controller:"usuarios",action:"perfil",id:@amigo.id} ,class:"link"
							rechazó tu solicitud del libro
							=link_to "#{noti.libro.titulo}", {controller:"libros",action:"ver_libro",id:noti.libro_id, usuario_id: @amigo.id}, class:"link"

							=link_to "Ver más",  {controller:"libros",action:"ver_libro",id:noti.libro_id, usuario_id: @amigo.id}, class:"link-ver-mas"

						-when 'SOLICITUDL'
							%span.glyphicons.glyphicons-log-book
							Solicitaron tu libro
							=link_to "#{noti.libro.titulo}", {controller:"libros",action:"ver_libro",id:noti.libro.id, usuario_id: session[:id]}, class:"link"
							=link_to "Ver más", {controller:"solicitudes",action:"solicitudes_libros_recibidas"},class:"link-ver-mas"

						-when 'COMENTARIO-E'
							%span.glyphicons.glyphicons-align-center

						-when 'INVT-L'
							%span.glyphicons.glyphicons-group
							-usuario= Usuario.find(noti.grupo_lectura.usuario_id)
							=link_to "#{usuario.nombre}",{controller:"usuarios",action:"ver_perfil",id:usuario.id} , class:"link"
							te envió una invitación a un grupo de lectura
							=link_to "Ver más", {controller:"grupo_de_lectura",action:"solicitudes_grupos_recibidas"},class:"link-ver-mas"

						-when 'LIST-DES'
							%span.glyphicons.glyphicons-log-book
							- @amigo = Usuario.find(noti.amigo_id)
							=link_to "#{@amigo.nombre}", {controller:"usuarios",action:"perfil",id:@amigo.id} ,class:"link"
							tiene disponible el libro
							=link_to "#{noti.libro.titulo}", {controller:"libros",action:"ver_libro",id:noti.libro.id, usuario_id: @amigo.id}, class:"link"

							=link_to "Ver más",  {controller:"libros",action:"ver_libro",id:noti.libro.id, usuario_id: @amigo.id}, class:"link-ver-mas"

						-when 'INVT-A'
							- @amigo = Usuario.find(noti.amigo_id)
							%span.glyphicons.glyphicons-user-add
							=link_to "#{@amigo.nombre}", {controller:"usuarios",action:"perfil",id:@amigo.id} ,class:"link"
							te envió una solicitud de amistad
							=link_to "Ver más", {controller: "usuarios", action:"solicitudes_amigos_recibidas"}, class:"link" , class:"link-ver-mas"
						-when 'ELI-G'	
							- @amigo = Usuario.find(noti.amigo_id)					
							%span.glyphicons.glyphicons-user-add
							=link_to "#{@amigo.nombre}", {controller:"usuarios",action:"perfil",id:@amigo.id} ,class:"link"
							= noti.descripcion
						-when 'G-RECHAZADA'
							- @amigo = Usuario.find(noti.amigo_id)
							%span.glyphicons.glyphicons-user-add
							=link_to "#{@amigo.nombre}", {controller:"usuarios",action:"perfil",id:@amigo.id} ,class:"link"
							rechazó tu invitación al grupo de lectura
							= noti.grupo_lectura.nombre
						-when 'G-EDITO'
							- @amigo = Usuario.find(noti.amigo_id)
							%span.glyphicons.glyphicons-user-add
							=link_to "#{@amigo.nombre}", {controller:"usuarios",action:"perfil",id:@amigo.id} ,class:"link"
							editó la información del grupo de lectura 
							= noti.grupo_lectura.nombre
							=link_to "Ver más", {controller:"grupo_de_lectura",action:"solicitudes_grupos_recibidas"},class:"link-ver-mas"
						-when 'G-ACEPTADA'
							- @amigo = Usuario.find(noti.amigo_id)
							%span.glyphicons.glyphicons-user-add
							=link_to "#{@amigo.nombre}", {controller:"usuarios",action:"perfil",id:@amigo.id} ,class:"link"
							aceptó tu solicitud al grupo de lectura
							= noti.grupo_lectura.nombre
						-when 'ELI-G-M'
							- @amigo = Usuario.find(noti.amigo_id)
							%span.glyphicons.glyphicons-user-add
							=link_to "#{@amigo.nombre}", {controller:"usuarios",action:"perfil",id:@amigo.id} ,class:"link"
							te eliminó del grupo de lectura
							= noti.grupo_lectura.nombre
			
