!!!
%html
	%head

		%title Libroteca
		= favicon_link_tag 'favicon.png' 
		%meta{ name:"viewport", content:"width=device-width, initial-scale=1.0"} 		
		= stylesheet_link_tag    "application", media: "all" ,'data-turbolinks-track' => true
		= javascript_include_tag "application" 
		= csrf_meta_tags

	%body
		.container-fluid#contenedor.relativo
			-if flash[:mensaje]
				.alert.alert-success.alert-dismissible.mensajes-interno.visible-lg.visible-md
					%button{type:"button", class:"close", "data-dismiss"=>"alert", "aria-label"=>"Close"}
						%span{"aria-hidden"=>"true"}
							&times
					= flash[:mensaje]
			-if flash[:mensaje_error]
				.alert.alert-danger.alert-dismissible.mensajes-interno.visible-lg.visible-md
					%button{type:"button", class:"close", "data-dismiss"=>"alert", "aria-label"=>"Close"}
						%span{"aria-hidden"=>"true"}
							&times
					= flash[:mensaje_error]
			
			%nav.navbar.navbar-libroteca.navbar-fixed-top.visible-xs.visible-sm
				.container-fluid.relativo
					-if flash[:mensaje]
						.alert.alert-success.alert-dismissible.mensajes-interno
							%button{type:"button", class:"close", "data-dismiss"=>"alert", "aria-label"=>"Close"}
								%span{"aria-hidden"=>"true"}
									&times
							= flash[:mensaje]
					-if flash[:mensaje_error]
						.alert.alert-danger.alert-dismissible.mensajes-interno
							%button{type:"button", class:"close", "data-dismiss"=>"alert", "aria-label"=>"Close"}
								%span{"aria-hidden"=>"true"}
									&times
							= flash[:mensaje_error]
					.navbar-header
						%a{href:"/libroteca/escritorio/inicio"}
							= image_tag "libroteca_logo.png", id:"logo-header"
						%button{ type:"button", class:"navbar-toggle collapsed", "data-toggle"=>"collapse", "data-target"=>"#bs-example-navbar-collapse-1", "aria-expanded"=>"false"}
							%span.sr-only Toggle navigation
							%span.icon-bar
							%span.icon-bar
							%span.icon-bar
					
					.collapse.navbar-collapse#bs-example-navbar-collapse-1

						%ul.nav.navbar-nav
							%li
								%form
									.input-group
										%input{type:"text","data-autocomplete"=>"autocomplete_libro_titulo", id:"buscador", name:"titulo", class:"form-control"}
										%span.input-group-addon 
											%span.glyphicon.glyphicon-search
							%li
								%a{href:'/libroteca/escritorio/inicio'}
									%span.glyphicon.glyphicon-home
										Inicio
							%li
								%a{href:"/libroteca/notificaciones/ver_notificaciones"}
									%span.glyphicon.glyphicon-asterisk
										Notificaciones
										-if @notificaciones
											-if @notificaciones.count > 0
												%span.badge.notificacion 
													= @notificaciones.count
							%li.has-sub
								%a{href:"#"}
									%span.glyphicon.glyphicon-family
										Grupos de lectura
								%ul
									%li
										=link_to "Crear" ,{controller:"grupo_de_lectura",action:"vista_crear_grupo_lectura"}
									%li
										=link_to "Grupos propios", {controller:"grupo_de_lectura",action:"grupos_propios", id:session[:id]}
									%li.last
										=link_to "Mis grupos",{controller:"grupo_de_lectura",action:"otros_grupos"}
								
										
							%li.has-sub
								%a{href:'#'}
									%span.glyphicon.glyphicon-user
										Perfil
								%ul
									%li
										=link_to "Perfil", {controller:"usuarios", action:"perfil", id:session[:id]}
									%li
										=link_to "Editar Perfil",{controller:"usuarios",action:"vista_editar_usuario"}
									%li
										=link_to "Mis amigos",{controller:"usuarios",action:"mis_amigos", id:session[:id]}
									%li.last
										=link_to "Buscar amigos",{controller:"usuarios",action:"vista_buscar_amigos"}
							%li.has-sub
								%a{href:'#'}
									%span.glyphicon.glyphicon-envelope
										Solicitudes

								%ul
									%li.has-sub
										%a{href:'#'}
											Solicitudes de Libros
										%ul
											%li
												=link_to "Recibidas",{controller:"solicitudes",action:"solicitudes_libros_recibidas"}
											%li.last
												=link_to "Enviadas",{controller:"solicitudes",action:"solicitudes_libros_enviadas"}
									%li
										%a{href:'#'}
											Solicitudes de Amistad
										%ul
											%li
												=link_to "Recibidas",{controller:"usuarios",action:"solicitudes_amigos_recibidas"}
											%li.last
												=link_to "Enviadas",{controller:"usuarios",action:"solicitudes_amigos_enviadas"}
									%li.has-sub
										%a{href:'#'}
											Solicitudes de grupo de lectura
										%ul
											%li.last
												=link_to "Recibidas",{controller:"grupo_de_lectura",action:"solicitudes_grupos_recibidas"}
							%li.has-sub
								%a{href:'#'}
									%span.glyphicon.glyphicon-book
										Libros
								%ul
									%li
										=link_to "Agregar libro", {controller:"libros",action:"form"}
									%li
										=link_to "Mis libros", {controller:"libros", action:"mislibros",id:session[:id]}
									%li.has-sub
										%a{href:'#'}
											Libros Generales
										%ul
											%li
												=link_to "Escolares",{controller:"libros",action:"listar_libros_completos",id:1}
											%li.last
												=link_to "Universitarios",{controller:"libros",action:"listar_libros_completos",id:2}
							%li.has-sub
								%a{href:"#"}
									%span.glyphicon.glyphicon-th-list
										Lista de deseos
								%ul
									%li
										=link_to "Agregar libro" ,{controller:"lista_de_deseos",action:"vista_agregar_libro_lista"}
									%li.last
										=link_to "Mi lista" ,{controller:"lista_de_deseos",action:"lista", id:session[:id]}
							%li
								=link_to "Información", {controller:"escritorio",action:"informacion"}, class: "glyphicon glyphicon-question-sign"
							%li.last
								=link_to 'Cerrar Sesión',{controller:"sesion", action:"cerrar_sesion"}, class:"glyphicon glyphicon-off"	
												
				
			#sidebar.visible-lg.visible-md
				%a{href:"/libroteca/escritorio/inicio"}
					= image_tag "libroteca_logo.png", id:"logo-header", class: "logointerno"
					
				%ul
					%li
						=form_tag({controller: "libros", action: "busqueda_libros"}) do
							.input-group
								%input{type:"text","data-autocomplete"=>"autocomplete_libro_titulo", name:"buscar", class:"form-control"}
								%span.input-group-addon 
									%button{type:"submit", class:"glyphicon glyphicon-search"}
					%li
						%a{href:'/libroteca/escritorio/inicio'}
							%span.glyphicon.glyphicon-home
								Inicio
					%li
						%a{href:"/libroteca/notificaciones/ver_notificaciones"}
							%span.glyphicon.glyphicon-asterisk
								Notificaciones
								-if @notificaciones
									-if @notificaciones.count > 0
										%span.badge.notificacion 
											= @notificaciones.count
					%li.has-sub
						%a{href:"#"}
							%span.glyphicon.glyphicon-user
								Perfil
						%ul
							%li
								=link_to "Perfil", {controller:"usuarios", action:"perfil", id:session[:id]}
							%li
								=link_to "Editar Perfil",{controller:"usuarios",action:"vista_editar_usuario"}
							%li
								=link_to "Mis amigos",{controller:"usuarios",action:"mis_amigos", id:session[:id]}
							%li.last
								=link_to "Buscar amigos",{controller:"usuarios",action:"vista_buscar_amigos"}
					%li.has-sub
						%a{href:"#"}
							%spa.glyphicon.glyphicon-picture
								Grupos de lectura
						%ul
							%li
								=link_to "Crear", {controller:"grupo_de_lectura",action:"vista_crear_grupo_lectura"}
							%li
								=link_to "Grupos propios", {controller:"grupo_de_lectura",action:"grupos_propios", id:session[:id]}
							%li.last
								=link_to "Mis grupos",{controller:"grupo_de_lectura",action:"otros_grupos"}
					%li.has-sub
						%a{href:'#'}
							%span.glyphicon.glyphicon-envelope
								Solicitudes
						%ul
							%li.has-sub
								%a{href:'#'}
									Solicitudes de Libros
								%ul
									%li
										=link_to "Recibidas",{controller:"solicitudes",action:"solicitudes_libros_recibidas"}

									%li
										=link_to "Enviadas",{controller:"solicitudes",action:"solicitudes_libros_enviadas"}

									%li.last
										=link_to "Por confirmar recepción",{controller:"solicitudes",action:"solicitudes_libros_confirmar"}
							%li.has-sub
								%a{href:'#'}
									Solicitudes de Amistad
								%ul
									%li
										=link_to "Recibidas",{controller:"usuarios",action:"solicitudes_amigos_recibidas"}
									%li.last
										=link_to "Enviadas",{controller:"usuarios",action:"solicitudes_amigos_enviadas"}
							%li.has-sub
								%a{href:'#'}
									Solicitudes de grupo de lectura
								%ul
									%li.last
										=link_to "Recibidas",{controller:"grupo_de_lectura",action:"solicitudes_grupos_recibidas"}
							%li.has-sub
					%li.has-sub
						%a{href:'#'}
							%span.glyphicon.glyphicon-book
								Libros
						%ul
							%li
								=link_to "Agregar libro", {controller:"libros",action:"form"}
							%li
								=link_to "Mis libros",{controller:"libros",action:"mislibros",id:session[:id]}
							%li.has-sub
								%a{href:'#'}
									Libros Generales
								%ul
									%li
										=link_to "Escolares",{controller:"libros",action:"listar_libros_completos",id:1}
									%li.last
										=link_to "Universitarios",{controller:"libros",action:"listar_libros_completos",id:2}
					%li.has-sub
						%a{href:"#"}
							%span.glyphicon.glyphicon-th-list
								Lista de deseos
						%ul
							%li
								=link_to "Agregar libro" ,{controller:"lista_de_deseos",action:"vista_agregar_libro_lista"}
							%li.last
								=link_to "Mi lista" ,{controller:"lista_de_deseos",action:"lista", id:session[:id]}
					%li
						=link_to "Información", {controller:"escritorio",action:"informacion"}, class: "glyphicon glyphicon-question-sign"

					%li.last
						=link_to ' Cerrar Sesión',{controller:"sesion", action:"cerrar_sesion"}, class:"glyphicon glyphicon-off"
					
			#contenido-interno
				= yield

			%footer
				%center
					%h5 Copyright 2015

		.modal.fade.bs-example-modal-sm#myModalNoticias{ tabindex:"-1", role:"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
			.modal-dialog
				.modal-content
					.modal-header
						%button{ type:"button", class:"close", "data-dismiss"=>"modal", "aria-label"=>"Close"}
							%span{ "aria-hidden"=>"true"}
								&times;
						%h4.modal-title Noticia
	        
					.modal-body
						=form_tag({controller: "noticia", action: "guardar_noticia"},remote:true) do
							-if params[:noticia] 
								%input{type:"hidden",value:"#{params[:tipo_noticia_id]}" ,name:"tipo_noticia_id"}
								%input{type:"hidden",value:"#{params[:noticia]}" ,name:"noticia"}
								%input{type:"hidden",value:"#{params[:generador_noticia_id]}" ,name:"generador_noticia_id" }
								Se generó la siguiente noticia:
								%br
								%p#estilo-noticia
									= session[:nombre] +" "+params[:noticia]
								%center
									¿Deseas compartirlo con tus amigos?
		            
							=submit_tag "Si" ,class: "btn btn-default"  
							%button{ type:"button", class:"close btn btn-default", "data-dismiss"=>"modal", "aria-label"=>"Close"}
								No
	    
		.modal.fade.bs-example-modal-sm#myModalNoticiasPerfil{ tabindex:"-1", role:"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
			.modal-dialog
				.modal-content
					.modal-header
						%button{ type:"button", class:"close", "data-dismiss"=>"modal", "aria-label"=>"Close"}
							%span{ "aria-hidden"=>"true"}
								&times;
						%h4.modal-title Noticia
	        
					.modal-body
						=form_tag({controller: "noticia", action: "guardar_noticia"},remote:true) do
							 
							%input{type:"hidden",value:"" ,name:"tipo_noticia_id",id:"tipo_noticia_id"}
							%input{type:"hidden",value:"" ,name:"noticia",id:"noticia"}
							%input{type:"hidden",value:"" ,name:"generador_noticia_id", id:"generador_noticia_id"}
							Se generó la siguiente noticia:
							%br
							%p#estilo-noticia
								
							%center
								¿Deseas compartirlo con tus amigos?
		            
							=submit_tag "Si" ,class: "btn btn-default"  
							%button{ type:"button", class:"close btn btn-default", "data-dismiss"=>"modal", "aria-label"=>"Close"}
								No

		-if flash[:mensaje_noticia]
			:javascript
				$("#myModalNoticias").modal("show");
					
