!!!
%html
	%head

		%title Libroteca
		= favicon_link_tag 'favicon.png' 
		%meta{ name:"viewport", content:"width=device-width, initial-scale=1.0"} 		
		= stylesheet_link_tag    "application", media: "all", 'data-turbolinks-track' => true
		= javascript_include_tag "application",  'data-turbolinks-track' => true
		= csrf_meta_tags

	%body
		
		.container-fluid#contenedor
			%nav.navbar.navbar-libroteca.navbar-fixed-top
				.container-fluid.relativo
					-if flash[:mensaje]
						.alert.alert-success.alert-dismissible.mensajes
							%button{type:"button", class:"close", "data-dismiss"=>"alert", "aria-label"=>"Close"}
								%span{"aria-hidden"=>"true"}
									&times
							= flash[:mensaje]
					-if flash[:mensaje_error]
						.alert.alert-danger.alert-dismissible.mensajes
							%button{type:"button", class:"close", "data-dismiss"=>"alert", "aria-label"=>"Close"}
								%span{"aria-hidden"=>"true"}
									&times
							= flash[:mensaje_error]
					.navbar-header
						= image_tag "libroteca_logo.png", id:"logo-header"
						%button{ type:"button", class:"navbar-toggle collapsed", "data-toggle"=>"collapse", "data-target"=>"#bs-example-navbar-collapse-1", "aria-expanded"=>"false"}
							%span.sr-only Toggle navigation
							%span.icon-bar
							%span.icon-bar
							%span.icon-bar
					
					.collapse.navbar-collapse#bs-example-navbar-collapse-1
						
						=form_tag({controller: "bienvenida", action: "busqueda_libros"}, class:"navbar-form navbar-right") do
							.input-group
								%input{type:"text","data-autocomplete"=>"libros/autocomplete_libro_titulo", name:"buscar", class:"form-control"}
								%span.input-group-addon 
									%button{type:"submit", class:"glyphicon glyphicon-search"}

						%ul.nav.navbar-nav.alineacion-menu-principal
							%li
								=link_to "Inicio", {controller:"bienvenida",action:"index"}

							%li
								=link_to "Información", {controller:"bienvenida",action:"informacion"}
							
							%li
								%a{"data-toggle"=>"modal", "data-target"=>"#myModalRegistrarUsuario", href:"#"}
									Regístrate
							%li
								%a{"data-toggle"=>"modal", "data-target"=>"#myModalIniciarSesion", href:"#"}
									Iniciar sesión
							
						
 
			#contenido
				= yield

			%footer
				%center
					%h5 Copyright 2015
				
	%div.modal.fade#myModalIniciarSesion{ tabindex:"-1", role:"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
		%div.modal-dialog
			%div.modal-content
				%div.modal-header
					%button{ type:"button", class:"close", "data-dismiss"=>"modal", "aria-label"=>"Close"}
						%span{ "aria-hidden"=>"true"}
							&times;
					%h4.modal-title Iniciar sesión
	  
				%div.modal-body
					#error-inicio-sesion{style:"display:none"}
						.alert.alert-danger.alert-dismissible
							%button{type:"button", class:"close", "data-dismiss"=>"alert", "aria-label"=>"Close"}
								%span{"aria-hidden"=>"true"}
									&times
							El usuario o la contraseña son incorrectos, por favor, inténtelo nuevamente
					=form_tag({controller: "sesion", action: "validar_sesion"}, class:"centrar-formulario", id:"iniciarSesion", remote:true) do
					
						.form-group
							%b Correo Electrónico (*)
							%br
							%input.form-control{type:"email", name:"email", placeholder: "ejemplo@algo.com", required: "required"}
						.form-group
							%b Contraseña (*)
							%br
							%input.form-control{type:"password", name:"clave", required: "required"}
						Los datos marcados con (*) son obligatorios
						%center
							%a{href:"#",id:"abrir-modal-contrasena", class:"link"} ¿Olvidó su contraseña?
							
						=submit_tag "Enviar" ,class: "btn btn-default" 

	%div.modal.fade.bs-example-modal-sm#myModalRegistrarUsuario{ tabindex:"-1", role:"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
		%div.modal-dialog
			%div.modal-content
				%div.modal-header
					%button{ type:"button", class:"close", "data-dismiss"=>"modal", "aria-label"=>"Close"}
						%span{ "aria-hidden"=>"true"}
							&times;
					%h4.modal-title Registrar Usuario
	  
				%div.modal-body
					=form_tag({controller: "usuarios", action: "registrar_usuario"}, id:"registrarUsuario", multipart: true) do
						
						.form-group
							%b Nombre (*)
							%br
							%input.form-control{type:"text", name:"nombre", placeholder: "Nombre y Apellido", required: "required"}

						.form-group
							%b Correo Electrónico (*)
							%br
							%input.form-control{type:"email", name:"email", placeholder: "ejemplo@algo.com", required: "required"}
						.form-group
							%b Teléfono (*)
							%br
							%input.form-control{type:"text", name:"telefono", placeholder: "02121234567", required: "required"}
						.form-group
							%b Dirección
							%br
							%textarea.form-control{name:"direccion", placeholder: "Dirección"}
						.form-group
							%b Contraseña (*)
							%br
							%input.form-control{type:"password", name:"clave", required: "required"}
						.form-group
							%b Seleccione como desea recibir sus notificaciones (*)
							%select{class:"form-control", name:"configuracion"}
								%option{value:"COR"}
									Solo al correo
								%option{value:"NOT"}
									Solo por la aplicación
								%option{value:"NOTyCOR"}
									Por la aplicación y el correo
						.form-group
							%b Seleccione a que comunidad pertenece (*)
							%select{class:"form-control", name:"comunidad"}
								%option{value:"ceapucv"}
									CEAPUCV
								%option{value:"ciencias"}
									Facultad de Ciencias - UCV
								%option{value:"otro"}
									Otra
						.checkbox
							%b Intereses
							%br
							%label
								.row
									.col-lg-3.col-md-3.col-xs-3
										%input{type:"checkbox", name:"ciencias", checked:"true"} Ciencias Naturales
										%br
										%input{type:"checkbox", name:"literatura", checked:"true"} Lengua y Literatura
										%br
										%input{type:"checkbox", name:"matematica", checked:"true"} Matemáticas
									.col-lg-3.col-md-3.col-xs-3
										%input{type:"checkbox", name:"sociales", checked:"true"} Ciencias Sociales
										%br
										%input{type:"checkbox", name:"historia", checked:"true"} Historia
										%input{type:"checkbox", name:"geografia", checked:"true"} Geografía
									.col-lg-3.col-md-3.col-xs-3
										%input{type:"checkbox", name:"fisica", checked:"true"} Física
										%br
										%input{type:"checkbox", name:"quimica", checked:"true"} Química
										%br
										%input{type:"checkbox", name:"ingles", checked:"true"} Inglés
										%br
										%input{type:"checkbox", name:"computacion", checked:"true"} Computación
									.col-lg-3.col-md-3.col-xs-3
										%input{type:"checkbox", name:"otro", id:"otrof"} Otro
						Los datos marcados con (*) son obligatorios
						%br
						=submit_tag "Enviar" ,class: "btn btn-default" 

	%div.modal.fade.bs-example-modal-sm#myModalOlvidarContrasena{ tabindex:"-1", role:"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
		%div.modal-dialog
			%div.modal-content
				%div.modal-header
					%button{ type:"button", class:"close", "data-dismiss"=>"modal", "aria-label"=>"Close"}
						%span{ "aria-hidden"=>"true"}
							&times;
					%h4.modal-title Recordar Contraseña
      
				%div.modal-body#modal-body-contrasena
					=form_tag({controller: "sesion", action: "recordar_contrasena"}, class:"centrar-formulario", id:"recordarClave", remote:true) do
						#error-contrasena{style:"display:none"}
							.alert.alert-danger.alert-dismissible
								%button{type:"button", class:"close", "data-dismiss"=>"alert", "aria-label"=>"Close"}
									%span{"aria-hidden"=>"true"}
										&times
								El correo electrónico que introdujo es incorrecto, por favor, verifique e inténtelo nuevamente
						.form-group
							%b Introduzca su correo electrónico (*)
							%br
							%input.form-control{type:"email", name:"email", placeholder: "ejemplo@algo.com", required: "required"}
						Los datos marcados con (*) son obligatorios
						%br
						=submit_tag "Cambiar" ,class: "btn btn-default"		


		


